[2018-08-31 14:38] imanodaysoffdotcom opened #1 "Cant get example to run"
Can someone create clear documentation on how to install and run the sample project. I tried to folow the readme but not getting any luck

$ npm i expo-activity-feed --save
npm ERR! code EUNSUPPORTEDPROTOCOL
npm ERR! Unsupported URL Type "link:": link:../expo-package

npm ERR! A complete log of this run can be found in:
npm ERR!     /Users/denzelgent/.npm/_logs/2018-08-31T14_39_14_962Z-debug.log

[2018-08-31 15:00] tbarbugli commented on #1
@imanodaysoffdotcom this project is still going under heavy development and docs are not always in sync with the latest version of example or libs.

Can you paste the exact list of commands that you are using to test the sample project?

I also suggest using `yarn` to run the example instead of `npm` and do something like this:

[code]

[2018-09-05 08:33] #1 closed

[2018-10-12 13:49] SMJ93 opened #2 "Invalid userId, please use letters, numbers, - or _: * issue"
We have managed to get the Sample `StreamApp` working by following the docs:

[code]

If we use our own credentials like below:

[code]

We get the following error:
![screen shot 2018-10-12 at 14 45 27](https://user-images.githubusercontent.com/2145641/46873141-ccd28900-ce2d-11e8-8000-d98cda5f75b0.png)

Even after adding `userId` to the `StreamApp` we still get the error:

[code]

Are we missing s

[2018-10-12 14:35] tbarbugli commented on #2
can you console.log all params and make sure that they are what you expect?

[2018-10-12 14:42] SMJ93 commented on #2
Yup, looks like an issue with the JWT token.

[2018-10-12 14:45] JelteF commented on #2
based on the error I would think that the JWT token contains something with weird characters inside the value for `user_id`

[2018-10-13 22:16] hsyyid opened #3 "How to specify actor attributes?"
In the code, you reference `actor.data.name`, etc.

I do not see where this is mentioned in the documentation: I tried providing a JSON object when I created the activity too, but it was turned into a string so didn't work either.

Am I missing something? Any help would be appreciated.

https://github.com/GetStream/react-native-activity-feed/blob/master/src/components/Activity.js#L67

If I do it l

[2018-10-24 16:48] SMJ93 commented on #2
Thanks, @JelteF  fixed now!

[2018-10-24 16:48] #2 closed

[2018-10-24 16:50] SMJ93 opened #4 "The REST API returns actor as type string, but the Activity component expects an object"
In the REST API docs it expects actor to be of type string: https://getstream.io/docs_rest/#activity

But in the react-native-activity-feed `Activity` component it is expecting an object with the following structure:

https://getstream.github.io/react-native-activity-feed/#activity

[code]

Is this a bug?

[2018-10-24 18:34] Ingibjorg opened #5 "Infinite loading spinner"
The pull to refresh is not working as expected. If I scroll down the feed and paginate once or twice and scroll back up to top and pull to refresh, the loading spinner spins infinitely and does not update the feed.

[2018-10-24 19:35] tbarbugli commented on #4
The React Native components use data enrichment to store objects in the actor and object field. You can find more information about that here: https://getstream.io/docs/#frontend_enrichment

[2018-10-25 13:48] SMJ93 commented on #4
Ahhhh, I didn't see that! Thanks for the quick response

[2018-10-25 13:56] SMJ93 opened #6 "Failed to authenticate when adding `notify` to FlatFeed or NotificationFeed"
We've managed to get both the FlatFeed and NotificationFeed working with our custom schema:

<img width="390" alt="screenshot 2018-10-25 at 14 44 12" src="https://user-images.githubusercontent.com/2145641/47505041-3fe3f280-d865-11e8-8fef-871ef79de3e2.png">

If we add the prop `notify` to the `NotificationFeed` component we get the following error:

<img width="388" alt="screenshot 2018-10-25 at 14

[2018-10-25 14:15] SMJ93 commented on #4
@tbarbugli, sorry I am finding the docs very confusing:

Specifically `However, this is not needed because Stream allows you to do automatic enrichment when reading feeds using the frontend APIs`. How does this work?

We are still getting the actor `user:ed` back. Do you have a react-native enrichment example we could refer to?

Thanks

[2018-10-25 16:43] tschellenbach commented on #6
@JelteF and @thesyncim

[2018-10-25 17:11] JelteF commented on #6
Did you double check the appId prop that you provided to StreamApp? Also can you share the code you use for the NotificationFeed?

[2018-10-29 22:52] Ingibjorg commented on #5
@JelteF and @thesyncim I updated the issue description. I'm only seeing this behaviour after paginating when the `loadNextPage` function is called and I try to pull to refresh.

[2018-10-30 10:06] JelteF commented on #3
Hi, this is now explained here in the docs: https://getstream.io/docs/#frontend_enrichment

[2018-10-30 10:06] #3 closed

[2018-10-30 10:12] JelteF commented on #4
You should not use `user:ed` as an actor, instead you should:
- on the frontend use a User instance: https://getstream.io/docs/#frontend_user_enrichment
- on the backend use a User reference: https://getstream.io/docs/#frontend_backend_references

Note: It's important to actually add the data to the "user" collections like shown in those examples:
- on the frontend use userSession.user.add({name:

[2018-10-30 10:12] #4 closed

[2018-10-30 10:13] JelteF commented on #3
I explained it more in #4

[2018-10-30 10:14] JelteF commented on #5
That's strange. Can you give some more info on your setup?
- Do you use expo or normal react native?
- Is this on iOS or Android?

[2018-10-30 16:57] Ingibjorg commented on #5
Normal React Native on iOS. Here's my setup:

[code]

[2018-10-31 09:49] SMJ93 opened #7 "Passing custom StyleSheet to Activity Component does not work"
I've been trying to pass through a custom `StyleSheet` through to the Activity so we can remove the top and bottom `padding`, but it always returns `null`:

[code]

Then if I `console.log(this.props.styles)` inside the `render` function in `node_modules/react-native-activity-feed-core/lib/components/Activity.js` it is always `null`.

Out of curiosity, why have you created a custom `buildStylesheet

[2018-10-31 11:57] Juneyoung-Kang commented on #2
@SMJ93 Could you explain how to resolve this issue?

[2018-10-31 12:00] SMJ93 commented on #2
@Juneyoung-Kang We customised our JWT token. If you use their standard token it works.

[2018-10-31 13:40] jaapbakker88 commented on #6
hey @SMJ93, I've not been able to reproduce your issue with the notify prop in my environment with my example tag. Could you [email](mailto:jaap@getstream.io) me the code with the filled in credentials of your app so I can test it with in my own example app.

About the bell icon and the other issues. We're still improving the documentation, but we have an example app where we've done most of these

[2018-10-31 13:54] tschellenbach commented on #6
@SMJ93 cool to see your progress, what sort of app are you working on?

[2018-10-31 14:01] SMJ93 commented on #6
Thanks @jaapbakker88, i've sent you an email. Let me know if you need anything else.

@tschellenbach a deals and recognition app 😃

[2018-11-01 12:22] SMJ93 commented on #6
Managed to fix this thanks to @jaapbakker88's help!

If anyone else encounters a similar problem, make sure you are setting the correct data in your JWT token.

We were sending `resource` and `action` from the frontend along with the incorrect `user_id`.

[2018-11-01 12:22] #6 closed

[2018-11-01 20:49] Ingibjorg opened #8 "Pressing on Notifier renders a blank screen"
If a user scrolls down the activity feed, then gets a notification that a new activity is available and clicks on it, the feed renders as a blank screen. If you scroll down on the blank screen, the feed appears again.

**Steps to reproduce**
1. Scroll down the activity feed
2. Wait for a new item to be added to the feed
3. Click on the notifier that is displayed:
![simulator screen shot - iphone x

[2018-11-01 21:03] tschellenbach commented on #8
Hi there, this is a bit hard to debug without the underlying JS error. Do you have a stack trace about this error?

[2018-11-01 21:10] Ingibjorg commented on #8
@tschellenbach thanks for replying. There is no JS error here. It just looks like clicking on the notifier causes the view to scroll way too far up so it renders a white screen. If I scroll down a bit, the feed gets positioned correctly on the screen again.

[2018-11-01 21:10] tschellenbach commented on #8
Jelte will help out with this, what sort of app are you working on?

[2018-11-01 21:13] Ingibjorg commented on #8
Thanks @tschellenbach. It's a charity based app.

[2018-11-02 04:12] Juneyoung-Kang commented on #2
@SMJ93 @JelteF Thanks.

[2018-11-02 05:48] Juneyoung-Kang opened #9 "Possible Unhandled Promise Rejection Error"
I was following this [official react native tutorial](https://getstream.io/react-native-activity-feed/tutorial/) and I've already added react-native-activity-feed in my project. But, my application shows nothing and prints some error like below.

### Error
[code]

<img width="545" alt="screen shot 2018-11-02 at 2 46 11 pm" src="https://user-images.githubusercontent.com/30204441/47895877-0edf6f80-d

[2018-11-02 07:44] Juneyoung-Kang commented on #9
- Yes. I’ve already replaced with real values.
- Yes. I’ve done step 1 ~ 4.

[2018-11-02 08:07] JelteF commented on #9
Googling this error points me here: https://github.com/facebook/react-native/issues/14364
That's definitely possible, since I think there's probably some console warn errors in our code. Can you confirm that you are building a production build and not a dev one?

[2018-11-02 08:43] JelteF commented on #8
@Ingibjorg I wasn't able to reproduce this exact issue, but I did find an issue with scrolling to the top not always working. I fixed that now in release 0.6.7 and I think it could be the root cause for your issue as well. Could you try it out and let me know if this is now fixed for you?

[2018-11-02 17:18] Ingibjorg commented on #8
Thank you so much for the quick fix @JelteF ! It's working as expected now.

[2018-11-02 17:18] #8 closed

[2018-11-02 18:03] accordis commented on #5
@JelteF Hi, still wondering about this one. The project in question is using this library, but not the collections portion for client-side enrichment (though, I don't see how this would cause that issue). The issue occurs when scrolling down a significant way, then scrolling back up to the top.

[2018-11-02 23:38] Juneyoung-Kang commented on #9
Thanks for helping me. I'm building a development build now, but I wonder why the contents are not displayed properly even if the `console.warn` or `console.log` doesn’t happen? :disappointed_relieved:

[2018-11-05 08:36] JelteF commented on #9
Are the contents not displayed properly even with de development build?

And also, do I understand correctly that changing to a development build fixed the issue? In that case I'll remove the `console.warn` and `console.log` calls from the lib (or make sure they are not included in production builds).

[2018-11-05 10:59] JelteF commented on #5
We've been able to reproduce this issue. It seems that https://github.com/facebook/react-native/issues/5839 is the root cause of this. I've implemented a workaround for that now and in our testing it seems that it fixes the issue indeed. This workaround is now released as v0.6.8 of the library. I'll close this issue, but feel free to reopen it if the workaround doesn't work for you.

[2018-11-05 10:59] #5 closed

[2018-11-19 15:06] LucasVanDongen opened #10 "Can't get project set up with or without using Expo"
**Describe the bug**
I have an existing project I want to add this library to. I'm new to React Native but experienced in iOS.
**To Reproduce**
Steps to reproduce the behavior:
1. Created the project with `create-react-native-app AppName`
2. Ran `npm i react-native-activity-feed --save`
3. The default application in the `ios` folder doesn't build and run
4. Replaced it with the native iOS applicat

[2018-11-19 22:51] LucasVanDongen commented on #10
Update: the App.js file was the wrong one, I got stuck at:

`Module AppRegistry is not a registered callable module (calling runApplication)`

[2018-11-30 14:00] AlexisJamin opened #12 "NewActivitiesNotification : can't change language"
Hello,

It is impossible to change "You have X new ...". Only the last word can be customized.

Can you create a prop that enables us to change the beginning of the sentence please ? My users are French speakers. Soon Italian, Spanish and German !

Big Thanks !

[2018-11-30 16:38] JelteF commented on #12
The easiest is probably to create your own NewActivitiesNotification component (here's the [source](https://github.com/GetStream/react-native-activity-feed/blob/master/src/components/NewActivitiesNotification.js)). And then you can pass that component to the FlatFeed or NotificationFeed [`Notifier` prop](https://getstream.github.io/react-native-activity-feed/#flatfeed).

[2018-11-30 16:42] AlexisJamin commented on #12
@JelteF thanks for your quick answer. I'm thinking of it.

But I believe that if GetStream wants to become global, they should add an option for other languages ! :-)

[2018-12-01 15:34] AlexisJamin opened #13 "Help with comments"
Hello,

I'm sorry to post it here, but I did not find any good example.

I want to add  `<CommentBox/>` under the buttons Like, Comments and Challenge.

This is what I get :

![img_6884d4ad77cf-1](https://user-images.githubusercontent.com/28752161/49329786-ed44d700-f584-11e8-8395-640e2b6c73f1.jpeg)

The `<CommentBox/>` is not put under `<ReactionIconBar/>` but over it.

Here is my code :

[code]
[

[2018-12-03 20:19] Ingibjorg opened #14 "Feature Request: Add ability to send FlatList props to Feeds"
I would like to be able to add a [ListEmptyComponent](https://facebook.github.io/react-native/docs/flatlist#listemptycomponent) to the NotificationFeed to render a component that lets the user know that the list is empty. Can you please add the ability to send FlatList props to the NotificationFeed so I can pass in the ListEmptyComponent prop?
Thanks!

[2018-12-04 01:08] JelteF commented on #13
It seems there was a problem with the CommentBox styling. I created a fix and released it as version 0.6.9 on NPM. Could you try it out and let me know if it makes it better.

However, I'm not sure if it will work with your use case completely (it might though). I haven't tried putting the comment box directly in the feed. The only place where we used it is the single post screen: https://github.c

[2018-12-04 16:19] AlexisJamin commented on #13
Thanks for your quick answer @JelteF  ! :-)

Well its better but it still bugs a lot.

Here is normal view if I had `<CommentBox/>` in the footer :

![img_a505b13166d3-1](https://user-images.githubusercontent.com/28752161/49455973-67c16100-f7e8-11e8-90f4-7d2fe44f008b.jpeg)

But if I click on the `<CommentBox/>` or in the `<StatusUpdateForm/>` , it bugs :

![img_ddcc144094b1-1](https://user-images.

[2018-12-04 17:06] AlexisJamin commented on #12
I've just created a pull request. Can you merge @JelteF ? :-)

[2018-12-04 18:42] Ingibjorg opened #17 "IconBadge number doesn't update when notification activities have been read"
**Describe the bug**
The `IconBadge` doesn't update its number after all notification activities have been read.

**To Reproduce**
Steps to reproduce the behavior:
1. Given that you have rendered the IconBadge component with a custom image component:
[code]
2. Trigger a notification for the user
3. Observe that the IconBadge now displays the number 1
4. Navigate to the notification feed
[code]
5.

[2018-12-04 18:45] JelteF commented on #17
To make this work the IconBadge should be a child of the same StreamApp component as the NotificationFeed component. That way they will share the state.

[2018-12-04 18:46] Ingibjorg commented on #17
Thanks for clarifying @JelteF!

[2018-12-04 18:46] #17 closed

[2018-12-04 18:51] JelteF commented on #12
Just released v0.6.10 which adds the labelFunction prop to NewActivitiesNotification

[2018-12-04 18:51] #12 closed

[2018-12-04 18:52] JelteF commented on #14
Just released v0.6.10 with support for this. FlatFeed and NotificationFeed now have a `flatListProps` prop.

[2018-12-04 19:34] Ingibjorg commented on #14
Awesome, thanks @JelteF !!

[2018-12-04 22:40] Ingibjorg commented on #14
@JelteF I have a bit of jerky UX now because I don't know when the FlatList has finished loading the data so the empty view displays for a short time before the list data has been loaded. Is there any way I can add some indication that the list is loading to prevent the empty view from surfacing? Thanks!

[2018-12-05 11:08] AlexisJamin opened #19 "<StatusUpdateForm/> bug"
Related with the `<CommentBox/>` bug, I just found out a bug with `< StatusUpdateForm/>`

I get :

![img_e3072530e0a6-1](https://user-images.githubusercontent.com/28752161/49509443-af49fa80-f885-11e8-9f22-045a7d7ac748.jpeg)

I have an iPhone 6S.

I think it's a problem with react-native-sticky-keyboard-accessory package. It does not stick to keyboard.

EDIT : same bug with my Huawei Y6 2018 :

![w

[2018-12-05 12:33] AlexisJamin commented on #19
Maybe you should update "react-native-sticky-keyboard-accessory": "^0.1.1" to 0.1.2 ?

cf : https://github.com/just4fun/react-native-sticky-keyboard-accessory

[2018-12-05 13:55] AlexisJamin commented on #13
Just proposed a PR to make it international (returnKeyType and placeholder props) and delete `<KeyboardAccessory>` if it's in `<FlatFeed/>` (isFlatFeed prop)

[2018-12-06 13:15] AlexisJamin commented on #19
I'm using react-navigation : 2.13.0. And createMaterialTopTabNavigator with TabBarPosition: "bottom".

[2018-12-11 14:13] JelteF commented on #19
I'm not sure what to do to fix this. It seems more like a bug in the KeyboardAccessory indeed

[2018-12-12 07:51] fbau opened #21 "Error in tutorial?"
I'm getting an error when running the tutorial described here: [link](https://getstream.io/react-native-activity-feed/tutorial/). I've changed it a bit by using react-native-activity-feed instead of expo-activity-feed and linking react-native-image-picker. When running:
[code]

I see the loader work for a bit, then I see the error:

[code]

It does work (i.e. the "You are connected to Stream." app

[2018-12-12 08:51] jaapbakker88 commented on #21
I'm not seeing the error you're seeing, for me it's all working up to the point I add the StatusUpdateForm. Which makes sense because I'm still in the expo client, so the `react-native link react-native-image-picker` command didn't do anything.

Did you start the app with `create-react-native-app`? Because if you use that you'll have to use `expo-activity-feed`.

The other option for starting an a

[2018-12-12 17:15] AlexisJamin commented on #19
Yes. Just emailed you. We need to debug at the source. It bugs with react-navigation.

See snack : https://snack.expo.io/ByDDZv_yN

And issue : https://github.com/just4fun/react-native-sticky-keyboard-accessory/issues/1

[2018-12-13 02:30] fbau commented on #21
I've found a minimal reproducible example:

Running the following commands in addition to changing App.js
[code]

with App.js changed to:

[code]

leads to the error:

[code]

[2018-12-13 13:42] JelteF commented on #21
@fbau I just released v0.6.14 which fixes this problem. I'm also working on a change to make these kind of problems easier to debug.

[2018-12-14 00:47] AugustusCosta commented on #21
If I just import StreamApp in any place at my react-native app I had the same problem  but in redux-saga places...

[2018-12-14 09:52] JelteF commented on #21
@AugustusCosta can you create a new issue for this? Because this specific issue is fixed now.

[2018-12-14 09:52] #21 closed

[2018-12-14 10:56] JelteF commented on #19
I just released v0.6.16 with the `verticalOffset` prop for StatusUpdateForm: https://getstream.github.io/react-native-activity-feed/#statusupdateform

[2018-12-14 10:56] #19 closed

[2018-12-14 10:58] JelteF commented on #10
I will close this since running react native inside a normal iOS app is outside of the scope of this project. We're working on native Swift components at the moment as well.

[2018-12-14 10:58] #10 closed

[2018-12-14 16:51] AugustusCosta opened #23 "Debug problem with redux-saga, redux-navigation, redux"
I only test this in iOS.
React Native project.

"react": "16.3.1",
"react-native": "^0.56.1",
"redux-saga": "^0.16.2",
"react-navigation": "^2.17.0",
"react-redux": "^5.0.7",
"redux": "^4.0.0",
"react-native-activity-feed": "^0.6.15" , 0.6.14, 0.6.12...

I need to use this like a component in my app and it's not an option for me change the project config.

If I declare any import of react-native-a

[2018-12-14 18:29] fbau opened #24 "Using library makes fetch not work"
**Setup (always fill this in):**
 - iOS
-  Project created with react-native init
 - React Native Version: 0.57.7
 - react-native-activity-feed@~0.6.16

**Describe the bug**
When StreamApp is imported, using fetch causes the following error.

[code]

**To Reproduce**

Create a project with react-native init, then make your App.js

[code]

If the import is uncommented then the error occurs - otherw

[2018-12-17 15:16] JelteF commented on #23
I just released v0.7.1 and v0.6.18 which fix this problem. Thank you for the clear bug report. Very weird that this only happens when Debug JS Remotely is enabled.

[2018-12-17 15:16] #23 closed

[2018-12-17 15:18] JelteF commented on #24
I just released v0.7.1 and v0.6.18 which fix this problem. Thank you for the clear bug report it helped a lot in fixing this. As described in #23 this actually only happened when "Debug JS Remotely" was enabled.

[2018-12-17 15:18] #24 closed

[2018-12-23 21:38] AlexisJamin opened #25 "FlatFeed options"
Hi,

I've been trying to use `<FlatFeed/>` option prop to limit the number of posts the user can see.

![capture d ecran 2018-12-23 a 22 23 37](https://user-images.githubusercontent.com/28752161/50387689-23e4bc00-0703-11e9-8672-1df66a61c19a.png)

This does not work. I should see only the 3 last publications right ?

[2018-12-24 09:57] JelteF commented on #25
If you provide the `noPagination` prop as well it should work. Otherwise it will simply paginate in batches of 3. https://getstream.github.io/react-native-activity-feed/#!/FlatFeed

[2018-12-24 10:30] JelteF commented on #25
I'm not entirely sure what you want then. Either you have pagination and when you scroll down it will show more than 3 activities. Or you don't have pagination and it will show exactly 3 activities

[2018-12-24 10:37] AlexisJamin commented on #25
I just want to show an exact number. So it works well. But when I read pagination, for me it creates pages 1-2-3-4 ... and you click on it to see more publications. Maybe it's just a naming issue for me.

[2018-12-24 10:39] JelteF commented on #25
The pagination for FlatFeed is infinite scroll based. So when you scroll to the end it will automatically load more items.

[2018-12-24 10:42] AlexisJamin commented on #25
Ok I understand. Thanks for your help ! :-)

[2018-12-24 10:54] #25 closed

[2019-01-04 21:50] AugustusCosta opened #26 "StatusUpdateForm Android "Network request failed: Binary FormData part needs a content-type header.""
**Android**
**React Native**
 - React Native Version:
"react": "16.3.1",
"react-native": "^0.56.1",
"react-native-activity-feed": "^0.8.1"

In this project I'm using "react-native-image-picker": "^0.26.10", for other things and it's OK.

On Android the function to add image to post ( _pickImage() )on StatusUpdateForm throws
 "Network request failed: Binary FormData part needs a content-type header

[2019-01-05 08:18] tbarbugli commented on #26
are you using `expo-activity-feed` or `react-native-activity-feed`?

[2019-01-05 19:39] AugustusCosta commented on #26
react-native-activity-feed

[2019-01-06 04:45] AugustusCosta commented on #26
Is there any way to have greater control on the instance, configuration and return of the react-native-image-picker (without a lot of reimplementation)?

There is some workarounds about this... https://github.com/react-native-community/react-native-image-picker/issues/671

[2019-01-07 11:12] JelteF commented on #26
This was indeed broken. Thank you for the bug report. I just released version 0.8.2 of the library, which fixes it.

I'm closing this issue, but feel free to re-open if it isn't fixed for you with the new version.

[2019-01-07 17:18] AugustusCosta commented on #26
@JelteF Thanks.

[2019-01-07 21:58] AugustusCosta commented on #26
You should open again.

This update make iOS app crash when choose or take image:

Error processing request body: Error Domain=NSCocoaErrorDomain Code=256 "The file “” couldn’t be opened." UserInfo={NSFilePath=}
@JelteF

[2019-01-08 09:44] JelteF commented on #26
Just released 0.8.3 which fixes that regression. Closing the issue again.

[2019-01-08 17:40] AugustusCosta commented on #26
StreamApiError {error: Promise, response: Response, message: "undefined with HTTP status code 413", stack: "Error: undefined with HTTP status code 413
    at …"}
Timeline.js:68
error:Promise {x7flfmxwurg: 687, _state: 1, _result: Object, …}
message:"undefined with HTTP status code 413"
response:Response {type: "default", status: 413, ok: false, …}
_bodyBlob:Blob {_data: Object}
_bodyInit:Blob {_da

[2019-01-08 17:53] JelteF commented on #26
can you share the file that you are trying to upload? Possibly it's not recognized as image (which is not allowed). If you cannot share the file type might also be enough.

[2019-01-08 18:02] AugustusCosta commented on #26
It's a default image on iOS simulator.
The same image work with image picker and upload in others parts of the project.

[2019-01-09 13:12] JelteF commented on #26
Based on the error the file you are trying to upload is too large. I've updated the library to improve the error messages to make this more clear.

[2019-01-09 21:31] AugustusCosta commented on #26
I think that the cause it's not in image size/type in this case....
The same image, same env and before the Android fix was working...

[2019-01-14 20:35] dolsem opened #27 "Viewing other users' feeds"
I am building an app that allows you to open an arbitrary user's profile and view all of their activities, which are added to your timeline feed if you decide to follow them. I can access timeline, but when I try to access user profile it fails with "You don't have permission to do this" error. It seems like the token I generate with my backend (with `client.createUserToken(username)`) only allows

[2019-01-15 10:00] JelteF commented on #27
The permissions a user token has are configurable, but by default they should support your use case.
A user token with user_id 123 can read any feed where the user_id part of the feed `{feed_group}:{user_id}` is 123. And it can also read any feed where the feed group is `user`. I expect you are trying to use a feedgroup named something different than `user` for the profile feed. If you change that

[2019-01-15 20:01] dolsem commented on #27
Okay, that makes sense. It was indeed different from user. Would be nice to have a feature that lets you make feed groups public or private yourself. Thanks for the response!

[2019-01-16 14:15] JelteF commented on #27
Closing this as it's not an issue in the library. If you run into this as well, please contact support and we'll set up the necessary permissions.

[2019-01-16 14:15] #27 closed

[2019-01-20 21:43] dolsem commented on #5
I've encountered this issue multiple times as well. In my case, I load the app with empty feed, then subscribe to another feed that has activities in it and pull to refresh. About 8/10 times it works just fine, but sometimes I see infinite loader. I'm using the latest library versions (expo-activity-feed@0.8.5, getstream@4.1.0). Seems to happen randomly. Any idea why?

[2019-01-22 10:40] JelteF commented on #5
@dolsem could you create a new issue for your issue, because it seems a bit different.

[2019-01-26 10:16] sksin28 opened #28 "Activity object does not contain latest_reactions property"
**Setup (always fill this in):**
 - iOS or Android? Android
-  Expo or regular React Native? React native
 - React Native Version: 0.57.7
 - `react-native-activity-feed` version: 0.8.5
 - `getstream` version: 4.1.0

**Describe the bug**
The `activity` object does not contain `latest_reactions` property. This causes `ReactionList` and `CommentList` components not working. However, the activity cont

[2019-01-26 10:57] sksin28 commented on #28
Realized I needed to pass `FeedRequestOptions` in the `FlatFeed` component
[code]
Not sure why this does not default to `true` in [getOptions](https://github.com/GetStream/react-native-activity-feed/blob/b37f3f4c4de1476c70a4d0aa84d9bc7fa217216e/src/Context/Feed.js#L537)

Moreover the [FeedRequestOptions](https://github.com/GetStream/react-native-activity-feed/blob/b37f3f4c4de1476c70a4d0aa84d9bc7fa

[2019-01-26 12:55] sksin28 opened #29 "StreamContext example"
I'm trying to use `StreamContext` to access the already initialized API client by subscribing to it. But, I'm unable to do so. I tried to follow the example posted in the [Cookbook](https://getstream.github.io/react-native-activity-feed/#cookbook). However, it's not working with an error about `StreamContext`.

Any working example will be really appreciated.

[2019-01-27 01:46] AugustusCosta commented on #26
I've be in other project parts for a while but I start to develop the feed again and It's working now in these last updates.
I think that you should close this issue.

[2019-01-27 02:01] AugustusCosta opened #30 "Warnings Require cycles are allowed, but can result in uninitialized values"
After update my project RN version to 0.58.1 some warnings start to appear:
I don't know if this is a bug or if it's a RN stuff but the unique project with this behavior is this.

"react": "16.6.3",
"react-native": "^0.58.1",
"react-native-activity-feed": "^0.8.5",

[2019-01-28 09:17] JelteF commented on #29
Ah that example is outdated it seems. Instead of `StreamContext.Consumer` you should use `StreamApp.Consumer`.

[code]

[2019-01-28 11:22] JelteF commented on #30
Thanks for the report. These warnings are no issue in this case. But I'll see if we can fix them in the future.

[2019-01-28 13:39] #28 closed

[2019-01-28 13:41] JelteF commented on #28
Thanks for the report. I updated the docs to make this behaviour more clear and fixed the mistake in the types. With the next release the docs will be updated automatically on the website.

[2019-01-28 13:42] #29 closed

[2019-01-29 09:50] sksin28 commented on #29
Thanks @JelteF . That works.
Hopefully, we should update the example accordingly.

[2019-01-29 09:51] sksin28 commented on #28
Thanks @JelteF for the quick response. 👍

[2019-01-29 10:03] JelteF commented on #29
Yeah I updated the example. Next release will publish the doc update.

[2019-02-09 22:05] Getinwiththem opened #34 "Whenever i try to install I get this warning"
**Setup (always fill this in):**

- iOS or Android?
- Expo or regular React Native?
- React Native Version:
- `react-native-activity-feed` or `expo-activity-feed` version: `npm list --pattern <package-name>`/`yarn list --pattern <package-name>`
- `getstream` version: `npm list --pattern getstream`/`yarn list --pattern getstream`

**Describe the bug**
A clear and concise description of what the bug

[2019-02-09 22:05] Getinwiththem commented on #34
Unexpected end of JSON input while parsing near '...egistry.npmjs.org/fs-'

[2019-02-11 08:49] JelteF commented on #34
Please fill in the template so we can try to reproduce this. The errer sounds like something is wrong with your npm setup though, not with this library.

[2019-02-14 10:19] tomeberle opened #35 "Feed elements missing while archiving on Xcode"
**Setup:**

- iOS
- Regular React Native
- react-native@0.55.2
- react-native-activity-feed@0.6.8
- getstream@4.0.9

**Describe the bug**
Running or building/archiving the code does not give the same feed. While running it locally, the feed is working and all elements are displayed (first screenshot). While building the code to be published on the store, names, time and texts disappear (second scr

[2019-02-21 15:57] kostetskydmitry opened #37 "Notifications updates works strange"
**Setup (always fill this in):**

The problem for both platforms, we are using React Native
RN version 0.58.3
[code]
[code]
**Describe the bug**
Using `NotificationFeed` component I see the strange results with the list of activities
For example, if I have liked my own post some time I didn't see the notification about this activity

**To Reproduce**
Check video screencast from this folder
https:/

[2019-02-25 07:18] direwolf424 opened #38 "using targetFeed to notify other users results in "You dont have permission to do this""
In Commentbox i am trying to notify users who have been mentioned in the comment.
To do this i am using the `onSubmit` function of the CommentBox.

[code]

Now when i am giving user id of a another user stream throws this error
"You don't have permission to do this"

Any help will be really appreciated.

P.S: for now user id is hardcoded.

[2019-02-25 09:39] JelteF commented on #38
There's some default permissions for feeds. By default a user can post to any feed where the user_id part in `{feed_group}:{user_id}` is its own id and to any feed where the feed_group part is `notification`. In this case you try to post to `Notification` feed_group (with a capital letter), for a different user_id. So it's not allowed to post there. If you change your feed group to `notification`

[2019-02-26 09:03] kostetskydmitry opened #39 "[Feature request] Add prop for show custom loader"
While we wait for the network for FlatFeed it will be nice to show loader spinner
[code]
Thanks!

[2019-02-26 14:40] direwolf424 commented on #38
Ohhk @JelteF . I will try and update it here.
Thanks for the quick reply :+1:

[2019-03-09 11:44] bhushannirmal opened #40 "FlatFeed pagination not working"
How FlatFeed behave on both platform.
**iOS -**
When I render on feed screen, spinner load infinite time and it loads all data of the page.

**Android -**
When I render on feed screen it only shows first page data. Suppose I have 50 number of data, but I am able to see only first page data(10 data).

Following is my code:

[code]
Please help me
Thanks in advance

[2019-03-11 10:10] #38 closed

[2019-03-11 10:11] JelteF commented on #34
Closing this as it is not reproducible.

[2019-03-11 10:11] #34 closed

[2019-03-12 03:10] dormied opened #41 "commentitem doesn't render object"
**Setup (always fill this in):**

- iOS or Android? ios
- Expo or regular React Native? Expo
- React Native Version:
expo-activity-feed@0.8.8
- `getstream` version: `npm list --pattern getstream`/`yarn list --pattern getstream`
getstream@4.2.1
**Describe the bug**
When using the SinglePost component, comment objects do not appear (but evrything else does). I went into react-native-activity-feed-co

[2019-03-12 08:50] JelteF commented on #41
What code did you use to create this reaction? Looking at the source code, the built in CommentBox should not do this double data behaviour.

[2019-03-13 04:13] dormied commented on #41
Yeah, I'm using CommentBox. I'm not using anything custom at the moment other than the provided RN components.

[2019-03-16 04:40] dormied opened #43 "CommentList not updating in realtime when oldestToNewest is set"
**Setup (always fill this in):**

- iOS or Android? ios
- Expo or regular React Native? expo

- React Native Version: expo-activity-feed@0.8.8
getstream version:  getstream@4.2.1

**Describe the bug**
When setting oldestToNewest to true in CommentList, the comments don't update instantly when adding a new comment

**To Reproduce**
Add oldestToNewest to a commentlist
add a comment with commentbox
p

[2019-03-16 04:53] dormied commented on #43
I just set infiniteScroll and reverseOrder to work around this, but bug still remains

[2019-03-24 18:25] wsdt opened #44 "Expo Typing"
Please add Typescript support for "expo-activity-feed".

Thank you in advance! :-)

[2019-03-28 12:48] tomeberle commented on #35
No answers and unable to fix this issue on our side, we will move from GetStream to Firebase and create a newsfeed ourselves.

[2019-04-09 07:51] kostetskydmitry opened #45 "Crash on Android when uploading image with Russian letters in filename"
**Setup (always fill this in):**

- Android
- React Native
- React Native Version: 0.58.3
- `react-native-activity-feed` version: 0.8.9

**Describe the bug**
When I try to upload with Russian letters in filename the app is crashed

`response = await this.props.client.images.upload(resultUri, null, contentType);`

[code]

**To Reproduce**
Take the attached file from .zip archive and try to make a n

[2019-04-12 04:57] shalehaha opened #47 "Customize label strings"
I'm working on an app which is not in English, and hope it is possible to customize all the label strings. Not sure whether this is in your roadmap, if not I'm happy to submit a PR.

[2019-04-12 09:09] JelteF commented on #47
It's not, but feel free to submit a PR.

[2019-06-12 14:52] AlexisJamin opened #48 "StatusUpdateForm and modifyActivityData / defaultUserData prop"
**Setup (always fill this in):**

- iOS & Android
- Expo : v32.0.0
- React Native Version: "https://github.com/expo/react-native/archive/sdk-32.0.0.tar.gz"
- `expo-activity-feed` version: v. 0.8.9
- `getstream` version: none

**Describe the bug**
I'm using `StatusUpdateForm` to post on my feed. I want to add the user's name and its picture. I use the prop `modifyActivityData ` but I get an Alert "

[2019-06-15 07:22] Recave opened #49 "I need to ask"
The StreamApp should I create a new folder or rename the APP.js? Also, I should find my own platform for this right?

**Also these**
<StreamApp
  apiKey="{API_KEY}"
  appId="{APP_ID}"
  userId="{USER_ID}"
  token="{TOKEN}"
  analyticsToken="{ANALYTICS_TOKEN}"

  {/* everything from your application interacting with Stream should be nested here */}
</StreamApp>

const client = stream.connect(
  API

[2019-06-15 08:37] tbarbugli commented on #49
https://getstream.io/react-native-activity-feed/tutorial/

[2019-06-16 13:10] #49 closed

[2019-06-17 14:34] AlexisJamin commented on #48
EDIT:

I tried to use `defaultUserData` prop like in https://github.com/GetStream/react-native-example/blob/master/App.js but it does not work either ... It still show "Unknown". Please help ! :)

![Capture d’écran 2019-06-17 à 15 54 58](https://user-images.githubusercontent.com/28752161/59609864-7e8e2c00-9118-11e9-95d2-770a92896549.png)

![WhatsApp Image 2019-06-17 at 16 31 41](https://user-image

[2019-06-18 12:17] #48 closed

[2019-07-24 06:55] jamesawer3 opened #50 "TypeError: getActivityPath is not a function"
**Setup (always fill this in):**

- iOS and Android
- React Native
- React Native Version: 0.59.5
- └─┬ react-native-activity-feed@0.8.9
  └─┬ react-native-activity-feed-core@0.8.9
    └── getstream@4.2.2

**Describe the bug**
Unhandled JS Exception: TypeError: TypeError: getActivityPath is not a function. (In 'getActivityPath(activityId)', 'getActivityPath' is undefined)

**Code**
[code]
**Expect

[2019-07-24 07:32] #50 closed

[2019-08-05 14:10] emvigotech opened #51 "UI issue for status Updateform in iOS"
Initially the StatusUpdateForm is seen on the view. After adding a status through statusupdateform the view disappears and only the flatfeed can be seen.So after that we are not able to add new status. This issue only ocurs in iOS. This is working fine in android.

![IMG_0330](https://user-images.githubusercontent.com/26790656/62470723-ae70bc00-b7b8-11e9-8204-e04c412bc8f2.PNG)

react-native: 0.58.

[2019-08-06 14:37] vishalnarkhede commented on #51
Hey @emvigotech ,

Could you try setting `noKeyboardAccessory={true}` prop on StatusUpdateForm component? That should fix the issue for now.

[2019-08-07 15:20] #47 closed

[2019-08-07 15:42] emvigotech commented on #51
Thank u vishal. It worked like a charm :)

[2019-08-08 10:10] vishalnarkhede commented on #51
Hey @emvigotech

Have you followed these steps? https://github.com/GetStream/react-native-activity-feed#final-setup-steps-for-the-react-native-activity-feed-package

[2019-08-08 14:40] jaapbakker88 commented on #48
Hi @AlexisJamin, for any other people running into this issue, did you manage to get it fixed?

[2019-08-08 15:05] emvigotech commented on #51
I had to link image-picker, but still the post is not updating real time.
The post added from status update form is not updating.
It only gets updated after the page is rendered again..

This seems to be only issue remaining now
Thanks in advance

[2019-08-13 14:30] emvigotech opened #67 "UI Customisation for feed"
**Setup (always fill this in):**

- iOS or Android? iOS
- Expo or regular React Native? React Native
- React Native Version: 0.58.6
- `react-native-activity-feed` version:   "react-native-activity-feed": "^0.8.9",

**Describe the bug**
I want to customize the feed
1.I want make spacing between the feeds.
2.Make Feed corner rounded
2.Changing Like and comment icon

![F67A2F77-D810-42E5-93A0-1183623

[2019-08-13 22:40] cbedoy commented on #43
I had the same issue.

[2019-08-13 22:57] cbedoy commented on #38
I'm having the same issue but when I want to get a NotificationFeed from user.

[code]

Response
[code]

[2019-08-15 07:38] jaapbakker88 commented on #67
Hi @emvigotech, if the above image is what you want it to look like I think the best way for you to realize that is using your own custom Activity component. You can make use of our components like this:

[code]

I think this is the easiest way for you to realise something like you're trying to do in the above image.

[2019-08-19 21:36] dolsem opened #68 "expo-activity-feed@0.8.11 breaks the app"
**Setup (always fill this in):**

- iOS or Android? iOS
- Expo or regular React Native? Expo
- React Native Version: 0.59.8
- `react-native-activity-feed` or `expo-activity-feed` version: 0.8.11
- `getstream` version: 4.2.5

**Describe the bug**
Metro Bundler fails to build the bundle with error:
[code]

**To Reproduce**
Update to `expo-activity-feed` version 0.8.11.

**Expected behavior**
Buildin

[2019-08-20 02:57] cbedoy commented on #67
In my case I'm using

[code]

And

[code]

[2019-08-20 13:29] #67 closed

[2019-08-20 13:31] jaapbakker88 commented on #51
This is the issue concerning like and comment counts not updating in realtime right? I emailed you guys earlier realtime is not supported for reactions so I'm going to close this issue. Feel free to reply with any further issues to reopen this.

[2019-08-20 13:31] #51 closed

[2019-08-20 13:35] jaapbakker88 commented on #68
@dolsem, which version of Expo are you using? In the meantime can you try using version 0.8.9, maybe we broke something recently.

[2019-08-20 14:26] jaapbakker88 commented on #68
@dolsem The issue was with our release script. I just release version `0.8.13` which should resolve this issue.

[2019-08-20 15:03] dolsem commented on #68
@jaapbakker88 just tried version `0.8.13` and it still has the same problem for me. Yet version `0.8.9` works fine, you're right. I am using Expo SDK 33.

[2019-08-20 15:29] jaapbakker88 commented on #68
Alright thank you, I will run some test to see where this is coming from. For now you can use `0.8.9` unless you're using multiple CommentLists within one screen.

[2019-08-20 16:28] cbedoy opened #69 "How's timeline follow works."
Hi everyone.

Given we discovered we didn't have support from native code in Android about real time. We had to move react native library.

About follow feeds we have doing with Kotlin:

[code]
_Given **User One** I followed a list or users and put on a **timeline** FlatFeed_

https://github.com/cbedoy/Stream-Client/blob/master/app/src/main/java/cbedoy/streamclient/explorer/ExplorerRepository.kt#L

[2019-08-21 11:15] jaapbakker88 commented on #68
@dolsem could you try `0.8.14`

[2019-08-22 15:31] dolsem commented on #68
@jaapbakker88 yes, it works, thank you!

[2019-08-26 08:12] #68 closed

[2019-08-27 08:47] parndt opened #75 "recentReactionsLimit not supported"
In the [REST API](https://getstream.io/docs_rest/#activities) there is support for `recentReactionsLimit` which appears to grab that number of reactions and populate `latest_reactions` with it.

When using `<ReactionList>` there doesn't appear to be any way to use this so, in my situation, I'm always getting back 5 reactions. I would like to specify more than this so that the user doesn't have to

[2019-08-29 03:54] parndt commented on #75
Turns out this is to be passed in to i.e. `<FlatFeed options={{ recentReactionsLimit: 20 }} />`

[2019-08-29 03:54] #75 closed

[2019-08-29 09:58] jaapbakker88 commented on #69
@cbedoy I think you should not use `feedGroup="user"` but `feedGroup="timeline"`. The user feedGroup is just the users activities. Where the timeline is a timeline with the activities of all the people you follow. Let me know if that solves your issue.

[2019-08-29 10:00] jaapbakker88 commented on #43
The solution is to use reverseOrder. The way our api works makes it hard to paginate in reverse and I think this is the best solution.

[2019-08-29 10:00] #43 closed

[2019-08-29 10:01] jaapbakker88 commented on #41
Is this still an issue. If yes, could you share the code from the CommentBox. The issue is probably there.

[2019-08-29 10:02] jaapbakker88 commented on #40
Is this still an issue? If yes, could you share a bit more about the RN native version you're using?

[2019-08-29 10:33] bhushannirmal commented on #40
thanks for the reply, but it is resolved.

[2019-08-29 10:34] #40 closed

[2019-09-08 15:30] ThanhNghia944 opened #77 "how to refresh comment list when update reaction"
**Setup (always fill this in):**
i use CommentList to show comments
If I use props.onAddReaction then the commentList will automatically refresh
but when I update the comment I use client.reactions.update (reactionId, data);
then the commentList is not automatic refresh

[2019-09-09 08:24] jaapbakker88 commented on #77
We don't support realtime updates for reactions right now, so that's why we don't support it updating automatically.

[2019-09-09 14:35] ThanhNghia944 commented on #77
pls for me know how to refresh it through props if i use commentList or SinglePost
thank you very much

[2019-09-10 08:39] jaapbakker88 commented on #77
Right now it doesn't support this. Our CommentList supports all flatList props so you could try setting onRefresh to reload the current page.

https://getstream.github.io/react-native-activity-feed/#!/CommentList
https://facebook.github.io/react-native/docs/flatlist#onrefresh

[2019-09-11 01:48] ThanhNghia944 commented on #77
thank you very much ^^

Vào Th 3, 10 thg 9, 2019 vào lúc 15:39 jaapbakker88 <
notifications@github.com> đã viết:

[2019-09-11 03:11] hitachiSasuke commented on #77
hi jaapbakker88 can you for me example use flatList props to refresh I use
 flatListProps={{
                      //  onRefresh:this._onRefesh,
                       ItemSeparatorComponent: this._renderSeparator,
                      //  refreshing:this.state.isRefreshing,
                         extraData:this.state,
                       removeClippedSubviews:true,
                       ke

[2019-09-11 08:57] jaapbakker88 commented on #77
@ThanhNghia944 how did you solve this issue. @hitachiSasuke I haven't actually tried this myself but adding the onRefresh prop it should give you a pull to refresh to refresh the comment list.

[2019-09-11 09:01] ThanhNghia944 commented on #77
Sorry, I am still researching :((

Vào Th 4, 11 thg 9, 2019 vào lúc 15:57 jaapbakker88 <
notifications@github.com> đã viết:

[2019-09-11 09:11] hitachiSasuke commented on #77
Hix onRefresh how to refresh it, I lost the whole day, but still couldn't refresh
can you for me example onRefresh, thank you 🙏

[2019-09-11 09:47] jaapbakker88 commented on #77
I don't have an example as I haven't done this myself. This should work as a pull to refresh.

[2019-09-11 14:59] hitachiSasuke commented on #77
hi jaapbakker88 if I use onRefresh will call get data to refresh current page from API but I use commentList from react native feed activity so i don't know how to get data to  refresh

[2019-09-11 15:00] hitachiSasuke commented on #77
for example :   refreshing={this.state.isFetching} and onRefresh() {
     this.setState({ isFetching: true }, function() { this.getApiData() });
  }
this.getApiData i don't know when I use commentList

[2019-09-12 04:17] Kushpakistan commented on #77
same issue this is a bug

[2019-09-13 06:27] jamesawer3 opened #78 "How to handle the hashtag press in feed??"
Hi,
 When I'm pressing the hashtag which is coming in activity feed, I have to navigate it to another page. Can someone help me with this??? As of now if a press the hashtag it's just printing the value's of that particular hashtag

[2019-09-13 08:24] hitachiSasuke commented on #77
hi jamesawer3 what is strings['LoaderDeletingComment'] ?
can you explain for me

[2019-09-13 08:30] ThanhNghia944 commented on #78
hi you can use
 const parseFormat = [
        { type: 'url', style: styles.url, onPress: this.handleUrlPress },
        { type: 'email', style: styles.email, onPress: this.handleEmailPress },
        { pattern: /#(\w+)/, style: styles.hashTag ,onPress: this._handleTag}
    ]
 <ParsedText
            style={styles.text}
            parse={parseFormat}

          </ParsedText

---with ParsedText fro

[2019-09-13 08:38] ThanhNghia944 commented on #77
jamesawer3  how to refresh ???

[2019-09-13 08:53] ThanhNghia944 opened #79 "LoadMoreButton not use in CommentList"
Hi ! 👋
i used LoadMoreButton in CommentList but LoadMoreButton not use and  when i check props of CommentList and ReactionList do not use props LoadMoreButton , please help me !
<CommentList
                    {...props}
                    flatListProps={{
                       ItemSeparatorComponent: this._renderSeparator
                    }}
                    activityId={(props.activity |

[2019-09-13 10:07] ThanhNghia944 commented on #79
<img width="1070" alt="Screen Shot 2019-09-13 at 5 03 10 PM" src="https://user-images.githubusercontent.com/53257922/64854791-b12cbf80-d648-11e9-8f60-26cc61c3c892.png">
-- | -- | -- | --
doc  :
infiniteScroll | boolean | false | If the CommentList should paginate when scrolling, by default it shows a "Load more" button
-- | -- | -- | --
how to custom UI  "Load more" button

[2019-09-13 10:37] jamesawer3 commented on #77
@hitachiSasuke That is the message which will be displayed when the page is loading

[2019-09-13 10:40] jamesawer3 commented on #77
@ThanhNghia944 just check [react-native-spinkit](https://github.com/maxs15/react-native-spinkit) for loading a page or you can any npm's for making the page to load.

[2019-09-13 10:43] jamesawer3 commented on #78
Thanks for your reply @ThanhNghia944. Can you please tell how to parse the text which is coming in [Activity](https://getstream.github.io/react-native-activity-feed/#activity) props?

[2019-09-13 10:53] jaapbakker88 commented on #79
This should do the trick: `<CommentList LoadMoreButton={YourLoadMoreButtonComponent} />`

[2019-09-13 10:58] jaapbakker88 commented on #78
@jamesawer3 this is currently not built in yet. I'll add it to my list of things to update for next week.

[2019-09-13 11:25] jamesawer3 commented on #78
@jaapbakker88 Thank you for your response kindly update it sooner. Waiting for your response

[2019-09-13 12:14] ThanhNghia944 commented on #79
Hi @jaapbakker88  please check props LoadMoreButton in CommentList,
when i check props of CommentList and ReactionList do not use props LoadMoreButton I think this is bug
Code
  <CommentList
                    {...props}
                    flatListProps={{
                       style: {
                       },
                       ItemSeparatorComponent: this._renderSeparator,

[2019-09-13 12:21] hitachiSasuke commented on #77
@jamesawer3 I  do not understand how to refresh the page when updating the comment rather than removing the comment (because remove has realtime to automatically refresh the page)

[2019-09-13 13:41] jaapbakker88 commented on #78
@jamesawer3 I updated the library to version `0.8.16` which gives you access to the following props:

- `onPressMention(text, activity)`
- `onPressHashtag(text, activity)`

[2019-09-13 13:42] jaapbakker88 commented on #79
Hi @ThanhNghia944 you're right. The prop wasnt passed through. I fixed this in version `0.8.6`

thanks

[2019-09-13 13:43] jamesawer3 commented on #78
@jaapbakker88 Thanks for the update will check it and revert you back

[2019-09-13 13:46] jamesawer3 commented on #77
@hitachiSasuke For me it didn't refresh in [SinglePost](https://getstream.github.io/react-native-activity-feed/#singlepost) so i added a loader in that screen

[2019-09-13 14:01] jamesawer3 commented on #78
@jaapbakker88 Should we pass the text and activity to that function??? Can you please give an example how to access??

[2019-09-13 14:03] jaapbakker88 commented on #78
the prop should be a function and that function has access to text(the clicked text), and the activity.

<Acitvity
onPressHashtag={(text, activity) => console.log(text, activity)}
/>

[2019-09-13 14:06] jamesawer3 commented on #78
@jaapbakker88 Thank you so much it's working fine

[2019-09-13 14:08] jamesawer3 commented on #78
Have an another doubt, Is there a way to access the string after space

#String is correctly working but

#strings space is not working.

[2019-09-13 14:10] jaapbakker88 commented on #78
No that's not possible at the moment. Because we would have no idea when to stop the hashtag. Hashtags usually don't have spaces.

[2019-09-13 14:11] jamesawer3 commented on #78
Okay thank you for your response

[2019-09-13 14:13] #78 closed

[2019-09-13 14:15] ThanhNghia944 commented on #78
^^thank you lib jaapbakker88

[2019-09-13 14:18] ThanhNghia944 commented on #79
Thanks for the update ^^

[2019-09-13 14:39] ThanhNghia944 commented on #79
Thank you so much it's working fine ^^

[2019-09-13 14:42] ThanhNghia944 commented on #77
hi @jaapbakker88  can you write props when update comment or activity i will call it to update current page (screen)

[2019-09-13 14:59] #79 closed

[2019-09-13 15:00] jaapbakker88 commented on #77
Hi @ThanhNghia944  how would I know when you call update?

[2019-09-13 16:24] ThanhNghia944 commented on #77
you can for me props when i call update
ex: props refreshComment with ref  = 'comment'
and i will call this.comment.refreshComment -> auto refresh update data (
same TextInput when i call this.textInput.focus() )
or in commentList props.refresh() i will call to update data

Vào Th 6, 13 thg 9, 2019 vào lúc 22:00 jaapbakker88 <
notifications@github.com> đã viết:

[2019-09-15 09:18] Kushpakistan commented on #77
hope
jaapbakker88
jaapbakker88

Vào Th 6, 13 thg 9, 2019 vào lúc 23:25 ThanhNghia944 <
notifications@github.com> đã viết:

[2019-09-15 09:20] hitachiSasuke commented on #77
@jaapbakker88  Please help us ....

[2019-09-16 07:24] jamesawer3 opened #81 "Need Multiline support"
**Setup (always fill this in):**

- iOS or Android?
  Both
- Expo or regular React Native?
  React Native
- React Native Version:
  0.59.5
- `react-native-activity-feed` or `expo-activity-feed` version: `npm list --pattern <package-name>`/`yarn list --pattern <package-name>`
  react-native-activity-feed - ^0.8.16
- `getstream` version: `npm list --pattern getstream`/`yarn list --pattern getstream`

[2019-09-16 07:29] ThanhNghia944 opened #82 "Bug When Likecomment"
Hi @jaapbakker88
I like a comment that shows the correct list of latest_children, own_children like and number of likes but when I refreshed, own_children is empty.
now I continue to like that comment, but children_counts + 1 without resetting my likes (like like activity)
 first like
<img width="383" alt="Screen Shot 2019-09-16 at 2 26 35 PM" src="https://user-images.githubusercontent.com/5325792

[2019-09-16 07:35] jaapbakker88 commented on #82
In your feed options on FlatFeed or SinglePost you want to set `withOwnChildren` to `true`.  This is makes sure you load the childReactions on initial load.

[code]

[2019-09-16 07:43] jamesawer3 commented on #82
@ThanhNghia944 Can you please tell me how you brought that posted time, like and comment below the comment list???

[2019-09-16 08:12] ThanhNghia944 commented on #82
hi @jaapbakker88  thank you when i set  withOwnChildren: true in SinglePost solved the like issue
but There is a new problem
When I comment the child after I refresh it it is duplicated twice and I cannot see other people's comments
<img width="393" alt="Screen Shot 2019-09-16 at 3 06 24 PM" src="https://user-images.githubusercontent.com/53257922/64942555-913d0c00-d893-11e9-8185-406df8403e03.png">

[2019-09-16 08:14] ThanhNghia944 commented on #82
hi jamesawer3 i custom commentlist with
 CommentItem={({ comment }) => {
                      return (
                        <React.Fragment>
                          <CommentItemCustom
                               onShowModallize={this._onShowModallize}
                               onPressCommentChild = {this._onPressCommentChild}
                               onPressCommentChildParent =

[2019-09-16 08:18] jamesawer3 commented on #82
@ThanhNghia944 CommentItemCustom is your own custom component where you have coded right???

[2019-09-16 08:22] ThanhNghia944 commented on #82
yes CommentItemCustom full code for you
render() {
    const { comment = {}, props, userIdCurrent ,onShowModallize =() => {}} = this.props;
    let text = _.get(comment.data, 'text', '');
    text = text.trim();
    const children_counts = (comment.children_counts || {}).comment || 0;
    let label_children = '';
    if (children_counts > 0 &&
      (comment.latest_children || {}).comment &&

[2019-09-16 08:23] jamesawer3 commented on #82
@ThanhNghia944 Thank you so much

[2019-09-16 08:23] ThanhNghia944 commented on #82
hi @jaapbakker88  Please check it again for me thank you

[2019-09-16 08:47] jamesawer3 commented on #82
@ThanhNghia944  Can you update the code with main import methods and the way you export the comment custom component please. And what is that .get method you have used in the code???

[2019-09-16 08:50] ThanhNghia944 commented on #82
hi @jamesawer3  full code import for you
import React, { PureComponent } from 'react';
import { View, Linking, TouchableOpacity, StyleSheet, Text } from 'react-native';
import UtilDate from '../../../utils/UtilDate';
import FastImage from 'react-native-fast-image';
import * as _ from 'lodash';
import UtiImage from '../../../utils/UtiImage';
import { SCREEN } from '../../../utils/UtilDeviceInfo';
i

[2019-09-16 08:55] jaapbakker88 commented on #82
@ThanhNghia944 can you be a little bit more clear in sharing your code I'm going to need more than:
[code]
Please share your components code because from just this setState I can't guess what might be going wrong. Please also use backticks so I can actually read the code.

[2019-09-16 09:07] ThanhNghia944 commented on #82
Hi @jaapbakker88
After I set withOwnChildren: true, an error occurred (before withOwnChildren: false, it ran ok)
this.setState({
dataCommentChild: ( (comment.latest_children || {}).comment || [] )
});

with
+ dataCommentChild is the child comment array of a comment
+ comment from props comment parent
My idea is that I will get a child comment list from a parent comment and show it

<CommentItemChi

[2019-09-16 09:12] ThanhNghia944 commented on #82
Ex:
{
   "children_counts": {
      "comment": 1
   },
   "parent": "",
   "created_at": "2019-09-16T09:08:50.123045Z",
   "data": {
      "text": "Test comment"
   },
   "activity_id": "06288ac0-d859-11e9-8080-800177efb3c3",
   "user": {
      "created_at": "2019-08-23T09:24:40.784085Z",
      "updated_at": "2019-09-06T07:53:41.065635Z",
      "id": "5d0a08049df8340011e0a289",
      "data": {

[2019-09-16 09:19] jaapbakker88 commented on #82
@ThanhNghia944 yes i see something is wrong, but I can't say what's going wrong if you're not sharing all the code. Right now I'm just guessing. I tested in my own test app and childReactions are working fine, so i'm guessing something is wrong in your setup. But as long as I don't see what you're doing I can't say for sure.

[2019-09-16 09:25] ThanhNghia944 commented on #82
@jaapbakker88  full code
from SinglePostScreen
https://pastebin.com/WFkACq6e
i get detail activity,and comment ,comment child
--- CommentItemCustom ( comment Parent )
https://pastebin.com/LcrDxmWX
i get list dataCommentChild and show CommentItemChild
https://pastebin.com/b4rfMRks
if i set withOwnChildren: false, it ran ok but error with like comment and withOwnChildren: true, comment like ok but e

[2019-09-16 09:38] jaapbakker88 commented on #82
I'm not really sure what's going on in all your code. You wrote a lot of custom components that are impossible for me to debug without knowing what exactly you're doing. All I can say now I that the ChildReactions are working perfectly fine for me using our own CommentList. A couple of suggestions
- try to use our components as we do a lot of complicated state management,
- Or start by taking a go

[2019-09-16 09:42] ThanhNghia944 commented on #82
Why when I set withOwnChildren: false to run correctly, did you try to do the same as I did, both add comments and like

[2019-09-16 09:43] ThanhNghia944 commented on #82
Can you show me your example

[2019-09-16 10:03] ThanhNghia944 commented on #82
I noticed that when I took another account to comment, after the refresh it was not duplicated
<img width="407" alt="Screen Shot 2019-09-16 at 4 59 59 PM" src="https://user-images.githubusercontent.com/53257922/64949507-8e4a1780-d8a3-11e9-904b-a50931f76c3e.png">

[2019-09-16 10:25] ThanhNghia944 commented on #82
i find a solution to solve this problem
by remove half of the duplicate child comments
<img width="425" alt="Screen Shot 2019-09-16 at 5 25 06 PM" src="https://user-images.githubusercontent.com/53257922/64950998-fe0dd180-d8a6-11e9-8f39-d2d7b430e68b.png">
thank you for sp ^^

[2019-09-16 10:34] jamesawer3 commented on #82
@ThanhNghia944 Have you forked the code and customizing it according to your wish???

[2019-09-16 10:41] ThanhNghia944 commented on #82
@jamesawer3  sr I custom many things so I don't know how to help you

[2019-09-16 10:48] jaapbakker88 commented on #82
I'm seeing the issue now on my end as well. Please keep your solution for now while I work on a solution on my end.

[2019-09-16 10:52] ThanhNghia944 commented on #82
I just checked the like comment and found that the latest_children in the comment was also duplicated when viewing the list of people who liked it, you can try again by
Create a comment, like that comment, then unlike, then refresh, like that comment again -> then see the list of people who like it will be duplicated
then login another account -> see the list of people who like it, only 1
You can

[2019-09-16 10:53] ThanhNghia944 commented on #82
<img width="409" alt="Screen Shot 2019-09-16 at 5 53 03 PM" src="https://user-images.githubusercontent.com/53257922/64952555-dc164e00-d8aa-11e9-8732-ca8adc8f114c.png">

[2019-09-16 11:10] jamesawer3 commented on #82
@ThanhNghia944 Thank you waiting for your code...

[2019-09-16 16:30] ThanhNghia944 commented on #82
Hi @jaapbakker88
I wrote a bug example component from your lib example, you can check it out
--When first like -> It's right and shows my name
<img width="359" alt="Screen Shot 2019-09-16 at 11 23 55 PM" src="https://user-images.githubusercontent.com/53257922/64975394-14348580-d8d9-11e9-826e-480961c2fcc8.png">
after i unlike -> The likes count is correct but the latest_children still has my name i

[2019-09-17 07:16] ThanhNghia944 commented on #82
hi @jaapbakker88 Have you checked again?

[2019-09-17 07:56] jaapbakker88 commented on #82
I have as I said above, it's a bug on the backend. We're working on it. Please keep your solution filtering duplicates until we deploy a fix for this issue.

[2019-09-17 09:06] ThanhNghia944 commented on #82
hi @
jaapbakker88 thank you very much ^^

Vào Th 3, 17 thg 9, 2019 vào lúc 14:56 jaapbakker88 <
notifications@github.com> đã viết:

[2019-09-17 10:05] jamesawer3 commented on #82
@ThanhNghia944 Waiting for your code... Can you please post it so that I can refer your code???

[2019-09-17 16:23] ThanhNghia944 commented on #82
hi @jamesawer3  full code for you https://pastebin.com/fyaChaKD

[2019-09-18 05:13] jamesawer3 commented on #82
@ThanhNghia944 I asked your whole getstream which you have fully redesigned. Can you please post it??? I want it for reference learning many things from your code!!! All the screens and design you posted were looking good

[2019-09-18 05:23] jamesawer3 commented on #82
@ThanhNghia944 @jaapbakker88 I have a doubt how to get the user's who have liked the child comment. Actually I get a user list but its showing parent like list and child comment like list. Can you guys help me???

[2019-09-18 08:08] jaapbakker88 commented on #82
@jamesawer3 you just loop over the comments or likes or whatever reactions and check if there's duplicates. Then you keep one. There's even a lodash function for this. https://lodash.com/docs#uniq

[2019-09-18 14:40] jaapbakker88 commented on #82
@ThanhNghia944 @jamesawer3 this issue should be fixed on the backend. Could you try and see if this issue is resolved for you?

[2019-09-18 16:16] ThanhNghia944 commented on #82
hi @jaapbakker88  It works fine for the comments but the only minor bug is list like
(  options={{ withOwnChildren: true}} )
when first like  -> correct
<img width="350" alt="Screen Shot 2019-09-18 at 11 12 47 PM" src="https://user-images.githubusercontent.com/53257922/65165884-d9ae2280-da69-11e9-84dc-f921375d9773.png">
after unlike but Likes list is wrong
<img width="374" alt="Screen Shot 2019-09

[2019-09-18 16:37] ThanhNghia944 commented on #77
@jaapbakker88  can you help me how to refresh

[2019-09-19 02:08] ThanhNghia944 commented on #77
similar to how to refresh activity after update
<img width="444" alt="Screen Shot 2019-09-19 at 9 07 35 AM" src="https://user-images.githubusercontent.com/53257922/65207748-f32c8a00-dabc-11e9-9884-c2667ce5efec.png">

[2019-09-19 02:47] ThanhNghia944 commented on #77
i have   flatListProps={{
          ListEmptyComponent: this._renderListEmptyComponent
          ItemSeparatorComponent: this._renderSeparator,
          extraData:this.state.refresh,
        }}
Based on extraData: this.state.refresh when I press a button will change the state refresh to flatlist refresh again, but it does not work.

[2019-09-19 02:58] ThanhNghia944 commented on #77
or flatListProps={{
          ListEmptyComponent: this._renderListEmptyComponent
          ItemSeparatorComponent: this._renderSeparator,
          refreshing:this.state.refresh,
          onRefresh:this.onRefresh
        }}
then it shows loading, but how does the loading end (setState false) to update the data when I use FlatFeed

[2019-09-19 02:59] ThanhNghia944 commented on #77
Sorry but I did everything, but still cannot refresh, hope you help

[2019-09-19 04:47] jamesawer3 commented on #82
Hi @ThanhNghia944 Can you send me you custom comment box code???

@jaapbakker88 @ThanhNghia944 How to reverse the order of flat feed

[2019-09-19 06:36] ThanhNghia944 commented on #82
@jamesawer3  full code for you https://pastebin.com/AhWXUA7q

[2019-09-19 07:22] jaapbakker88 commented on #82
@ThanhNghia944 is this a like on the comment or on the post?

[2019-09-19 07:23] jaapbakker88 commented on #77
Sorry I don't have a solution for this myself. The library doesn't support it yet and I'm not sure when we're going to get around to implementing this functionality.

[2019-09-19 07:34] ThanhNghia944 commented on #82
hi @ThanhNghia944  like on the comment

[2019-09-19 07:38] ThanhNghia944 commented on #77
hi @jaapbakker88  you can for me ref = {this.comment.}  and i will call this.comment.refreshComment -> it will call refreshComment()  -> refresh page current
pls help me

[2019-09-19 07:51] jaapbakker88 commented on #82
@ThanhNghia944 this is indeed a bug that became visible after the fix we did on the backend. I'll push a fix today.

[2019-09-19 07:54] ThanhNghia944 commented on #82
thank you @jaapbakker88  pls help me sp refresh after update I am about to reach the deadline with customers,pls pls

[2019-09-19 07:55] ThanhNghia944 commented on #77
please help me

[2019-09-19 08:02] jaapbakker88 commented on #77
Sorry, we don't support this yet and I don't have the time to look into this right now. If you can explain a simple solution to this problem I can have a look but right now your suggestions don't make sense to me. Also please keep this discussion in this issue and don't post in other issues. If something is really urgent, this is open source so you can always open a PR and I will have a look there

[2019-09-19 08:07] ThanhNghia944 commented on #77
hi @jaapbakker88  thank you for support

[2019-09-19 08:30] jaapbakker88 commented on #82
@ThanhNghia944 i just updated the library to version `0.8.17` which should contains a fix for this bug. Please let me know if this resolves this issue.

[2019-09-19 08:56] ThanhNghia944 commented on #82
Thank you it works very well

[2019-09-19 08:59] #82 closed

[2019-09-19 10:06] jamesawer3 commented on #81
@jaapbakker88 Can you please help me with this

[2019-09-19 12:05] jamesawer3 commented on #82
hi @ThanhNghia944 @jaapbakker88 How to refresh the flatfeed automatically???

[2019-09-19 12:23] jamesawer3 opened #83 "How to refresh flat feed in background programmatically ?"
Hi @jaapbakker88,
 We just need to refresh the flatfeed content without reloading the screen and there should not be any loader displayed to the user.

[2019-09-19 14:14] jaapbakker88 commented on #83
What do you exactly need? If you pass `notify={true}` realtime get's enabled. This will show 'you have X new activities' if there's new activities.

[2019-09-19 14:24] jamesawer3 commented on #83
Nope I no need to show that instead of that i have to update it automatically

[2019-09-19 14:43] jaapbakker88 commented on #81
@jamesawer3 the problem is that when you enable multiline on the TextInput on android there is no submit button. Only a return button which includes a line break. On iOS it's a bug with React that should be solved once we upgrade to a newer version. That's going to take some time though and I don't know when we'll be able to get around to it. There is a hack for iOS but it's not a very satisfying

[2019-09-19 14:46] jaapbakker88 commented on #83
We don't currently support doing this. We looked at other companies that implemented feeds and there's usually no updating automatically. This has a reason, if you update automatically the feed is going to jump every time a new activity gets added. That's usually very bad UX. I'm sorry but we can't help you with this right now.

[2019-09-23 06:01] jamesawer3 commented on #83
Without jumping can't we update the feed???

[2019-09-23 08:31] jaapbakker88 commented on #83
That seems like a different issue from updating automatically. I'm still not sure what you mean, maybe you can use the following in your flatListProps: https://facebook.github.io/react-native/docs/flatlist.html#listheadercomponent

[2019-09-24 03:57] ThanhNghia944 commented on #83
i can help you in NewActivitiesNotification you can use props
 //refesh
   this.setState({isRefesh:true} , () => { this.props.onPress();})
NewActivitiesNotification in   FlatFeed
 Notifier={element => {
          return <NewActivitiesNotification {...element} userId={this.state.userId} />;
  }}

[2019-09-24 04:00] ThanhNghia944 commented on #39
hope

[2019-09-24 10:01] jamesawer3 commented on #83
@jaapbakker88 How to call a method which returns the header inside the flatlistprops of [flatfeed](https://getstream.github.io/react-native-activity-feed/#flatfeed)

[2019-09-24 10:07] jamesawer3 commented on #83
@ThanhNghia944 What will do will it automatically refresh???

[2019-09-25 02:13] ThanhNghia944 commented on #83
@jamesawer3  yes ^^

[2019-09-25 02:25] ThanhNghia944 opened #84 "Bug comment when refresh page"
Hi @jaapbakker88
1.  First I click on the detail activity screen and click on loadmore, everything is ok
<img width="397" alt="Screen Shot 2019-09-25 at 9 14 49 AM" src="https://user-images.githubusercontent.com/53257922/65563816-12bc2a80-df75-11e9-9df9-410ae512bba3.png">
<img width="418" alt="Screen Shot 2019-09-25 at 9 16 42 AM" src="https://user-images.githubusercontent.com/53257922/65563902-53

[2019-09-25 06:01] jamesawer3 commented on #83
@ThanhNghia944 I think this will refresh only in owner feed, I want to automatically update it to other users too. For example if we send a message in whats app its refreshing in other user end like that this is just for example

[2019-09-25 06:01] jamesawer3 commented on #83
@jaapbakker88 waiting for your reply tried like you said

[2019-09-25 07:36] jaapbakker88 commented on #83
@ThanhNghia944 I'm really not sure what you want. We don't support the automatically updating. Because we think it's bad UX to implement it like that. Twitter, Facebook don't do this either. The other issue(which is a different issue i'm guessing?): I haven't tried it myself but guess it should work, Im not sure how to solve this issue for you but this does not seem related to our library.

[2019-09-25 07:38] jaapbakker88 commented on #84
Can you please leave out the screenshot and explain in detail. I'm not really sure what's happening. Also please fill in the issue template.

[2019-09-25 07:38] jamesawer3 commented on #83
@jaapbakker88 are you telling me???

[2019-09-25 07:40] ThanhNghia944 commented on #83
hi jaapbakker88 You can try by adding more than 12 comments, and click
loadmore to see the problem, the list you return

Vào Th 4, 25 thg 9, 2019 vào lúc 14:36 jaapbakker88 <
notifications@github.com> đã viết:

[2019-09-25 07:40] jaapbakker88 commented on #83
@jamesawer3 yes, that was meant for you.

[2019-09-25 07:41] jaapbakker88 commented on #84
@ThanhNghia944 yes I've tried with many comments and I'm not seeing your issue. What are the exact steps?

[2019-09-25 07:44] jamesawer3 commented on #83
@jaapbakker88 you said to use [ListHeaderComponent](https://facebook.github.io/react-native/docs/flatlist.html#listheadercomponent) in flatlistprops right I tried that but I couldn't render it!!! Can you please provide me a example???

[2019-09-25 07:45] ThanhNghia944 commented on #84
@jaapbakker88
The error occurred when I used the LoadMoreButton props do you use it?

LoadMoreButton={(props) => <LoadMoreButton {...props} onPress={props.onPress
}/>}

Vào Th 4, 25 thg 9, 2019 vào lúc 14:41 jaapbakker88 <
notifications@github.com> đã viết:

[2019-09-25 07:46] jamesawer3 commented on #83
Check this!!!

[2019-09-25 07:47] ThanhNghia944 commented on #83
hi @jamesawer3  pls   ListHeaderComponent = () => { return <View style={{ height: 100, backgroundColor: 'red' }} /> },
            ListHeaderComponentStyle = { height: 100 }
^^ you don't return

[2019-09-25 07:53] jaapbakker88 commented on #83
@jamesawer3 please understand that I am looking at this, but this is not the only thing I'm working on. You seem very frustrated, but please keep in mind that everybody is doing their best.

[2019-09-25 07:54] jaapbakker88 commented on #83
@jamesawer3 also check @ThanhNghia944 answer

[2019-09-25 07:55] jaapbakker88 commented on #84
@ThanhNghia944 can you also please provide the commentlist and it's props so I can see what you're doing there.

[2019-09-25 08:00] ThanhNghia944 commented on #84
Hi
jaapbakker88
this is my commentList
https://pastebin.com/vGGaiNmi
with  LoadMoreButton={(props) => <LoadMoreButton {...props} onPress={props.
onPress}/>}
and component LoadMoreButton
https://pastebin.com/ZGZ5yxX8

Vào Th 4, 25 thg 9, 2019 vào lúc 14:55 jaapbakker88 <
notifications@github.com> đã viết:

[2019-09-25 08:01] ThanhNghia944 commented on #84
Have you tried checking, I think you'll get the same error as me when using
the LoadMoreButton props ^^

Vào Th 4, 25 thg 9, 2019 vào lúc 15:00 Nguyễn Tinikun <
nguyenthanhnghia944@gmail.com> đã viết:

[2019-09-25 08:04] jamesawer3 commented on #83
If I set height for header even the feeds are displaying inside the view

![image](https://user-images.githubusercontent.com/43437378/65581515-3b561b80-df99-11e9-8a7e-99b4d78f90db.png)

[2019-09-25 08:43] jaapbakker88 commented on #84
Yeah I'm trying that, but not seeing the error. Also that CommentList is your component, but where are you rendering it and what props are you passing. This is mine:
[code]

[2019-09-25 08:49] jaapbakker88 commented on #83
For me this is working perfectly. Please share your code if you want me to look at it because I can't debug from an image.

[code]

![image](https://user-images.githubusercontent.com/1172870/65585054-1dc98780-df82-11e9-92a1-e807c5afe534.png)

[2019-09-25 10:03] jamesawer3 commented on #83
Got it @jaapbakker88 it's working fine

[2019-09-25 10:04] jamesawer3 commented on #83
If you can give some idea for auto load post it would be helpful for example like whatsApp

[2019-09-25 10:15] jaapbakker88 commented on #83
@jamesawer3 Yeah, as i've said multiple times, we don't support that you can try @ThanhNghia944's solution but I'm not sure if that will work. May I ask why you would want this at all as it's really bad UX?

[2019-09-25 10:36] jamesawer3 commented on #83
Sorry!!! for asking it again and again we did a UI like that, we got suggestions for displaying it automatically or is there a way to redesign the notification UI

[2019-09-25 10:47] jaapbakker88 commented on #83
I really don't know what I can do for you. We don't support this. And I don't know why you would want it. Also if you're asking questions please be clear about your questions because every time you leave me guessing what the issue is about. I don't know your project and what you're trying to do so I can't help you at all.

[2019-09-25 11:08] ThanhNghia944 commented on #84
Hi
sorry i forgot to tell you, if you set reverseOrder it will be as faulty as
me

Vào Th 4, 25 thg 9, 2019 vào lúc 15:43 jaapbakker88 <
notifications@github.com> đã viết:

[2019-09-25 11:10] ThanhNghia944 commented on #84
<CommentList
                    {...props}
                    flatListProps={{
                       style: {
                       },
                       ItemSeparatorComponent: this._renderSeparator,
                    }}
                    activityId={(props.activity || {}).id}
                    reactions={(props.activity || {}).latest_reactions}
                    reverseOrder

[2019-09-25 11:28] jamesawer3 commented on #83
Okay, thank you for your patience and thanks for replying one of my issue is solved but the actual reason of opening issue didnt solve incase if you are planning to refresh the feed automatically please do ping me.

[2019-09-25 11:28] #83 closed

[2019-09-25 11:30] ThanhNghia944 commented on #83
Why do you use my code i think it run exactly

Vào Th 4, 25 thg 9, 2019 lúc 18:28 jamesawer3 <notifications@github.com> đã
viết:

[2019-09-25 11:47] jamesawer3 commented on #83
@ThanhNghia944 will it refresh for others users also if a new post comes???

[2019-09-25 11:47] jaapbakker88 commented on #84
@ThanhNghia944 even with reverseOrder this is working fine for me.

[code]

[2019-09-25 11:53] ThanhNghia944 commented on #83
Yes ^^

Vào Th 4, 25 thg 9, 2019 lúc 18:47 jamesawer3 <notifications@github.com> đã
viết:

[2019-09-25 11:56] jamesawer3 commented on #83
when this onpress method will be called

[2019-09-26 07:02] ThanhNghia944 commented on #84
ok I'll check and respond to you
thank you very much ^^

Vào Th 4, 25 thg 9, 2019 vào lúc 18:47 jaapbakker88 <
notifications@github.com> đã viết:

[2019-09-26 07:16] jamesawer3 commented on #84
@ThanhNghia944 https://github.com/GetStream/react-native-activity-feed/issues/83#issuecomment-534986670

[2019-09-26 07:39] ThanhNghia944 commented on #84
Hi jamesawer3 I'm sick today so I haven't checked, I'm in the hospital,
I'll answer you as soon as possible

Vào Th 5, 26 thg 9, 2019 vào lúc 14:16 jamesawer3 <
notifications@github.com> đã viết:

[2019-09-26 07:41] jamesawer3 commented on #84
Okay carry on take care take rest

[2019-09-30 00:48] aldrinc commented on #50
@jamesawer3 How did you resolve this issue? I'm having the same issue when I'm trying to show the comment list on a different page outside of the SinglePost component. I tried passing the props using react navigation but I still get this error.

[2019-09-30 05:52] jamesawer3 commented on #50
I used [SinglePost](https://getstream.github.io/react-native-activity-feed/#singlepost) for displaying comments. Try that!!!

[2019-09-30 14:42] jamesawer3 commented on #84
@jaapbakker88 Have a doubt, When posting a feed I'm modifying the data

[code]

When I'm posting I kept break point at data and checked, created date is coming as 16/09/2019 and time is 2:30PM but my actual time is 30.09.2019 and my time is 8 PM. Now my doubt is do I have to send created at date in param's ???

[2019-10-02 04:52] ThanhNghia944 commented on #84
Hi @jaapbakker88
Sorry my bad, thank you very much ^^

[2019-10-02 04:54] ThanhNghia944 commented on #83
when this onpress method will be called  -> you can subscribe notify in component did mount ^^

[2019-10-02 09:17] jaapbakker88 commented on #84
Cool, going to close this issue now as all things seem to be resolved.

[2019-10-02 09:17] #84 closed

[2019-10-04 13:06] jamesawer3 commented on #84
@jaapbakker88 Any update on this???

[2019-10-17 07:25] jamesawer3 opened #85 "How to handle images posted in feed"
Hi @jaapbakker88,
When I post an image in feed its getting stretched and I can't view the full image. How to handle the images posted in feed? I want to see the full image

@ThanhNghia944 Do you have any idea?

![IMG_0170](https://user-images.githubusercontent.com/43437378/66988331-fcbb0900-f0df-11e9-8d48-a39a7dde49ca.jpg)

[2019-10-17 08:08] jamesawer3 opened #86 "How to post a custom url in feed"
Hi @jaapbakker88 ,

How to post a custom url in feed and how to handle onPress???

[2019-10-17 08:44] jaapbakker88 commented on #86
Hello @jamesawer3, i'm not sure what you mean.

Posting a url should make it a URL and makes it clickable.

[2019-10-17 08:46] jaapbakker88 commented on #85
@jamesawer3 are you using our Activity component or your own custom component. Please be clear when you submit issues, I can't guess from just a screenshot and one line of text what might be going on.

[2019-10-17 09:29] jamesawer3 commented on #86
If i post www.facebook.com its not taking as URL

[2019-10-17 09:31] jamesawer3 commented on #85
Nope I'm using your component only

[2019-10-17 09:41] ThanhNghia944 commented on #85
Hi @jamesawer3  Sorry but I uploaded the image from my server ^^

[2019-10-17 09:58] ThanhNghia944 commented on #86
Hi @jamesawer3  you can use lib react-native-parser-text to custom content

[2019-10-17 09:58] jamesawer3 commented on #86
For that i have to write my custom component right???

[2019-10-17 10:03] jamesawer3 commented on #86
Okay will check it. Any how thank you and are you fine now you said you were in hospital???

[2019-10-17 10:09] ThanhNghia944 commented on #86
I'm fine and have been discharged from the hospital, thank you very much ^^

[2019-10-17 10:54] jamesawer3 commented on #85
How to change URLPreview default image???

[2019-10-17 10:55] jamesawer3 commented on #86
How to change URLPreview default image in react-native-activity-feed component???

[2019-10-21 07:00] ThanhNghia944 commented on #86
hi you can use
 <TouchableOpacity style={[styles.avatarContainer,styleTouch]}
            onPress={ this.handlePressImage}>
                { !this.state.isImgLoaded &&
                <Image
                      style={[styles.avatar,styleImage, {position:'absolute'}]}
                      source={ defaultImage}
                      resizeMode={resizeMode}/>
                }
                <

[2019-10-21 07:55] #77 closed

[2019-10-21 07:55] #69 closed

[2019-10-21 07:56] #45 closed

[2019-10-22 12:49] jamesawer3 opened #87 "App Crashed after taking signed apk"
My app is crashing when pull to refresh in android!!!

**React-Native Info:**

<details><summary>Click To Expand</summary>
<p>

[code]
</p>
</details>

**Screenshot of Crash Report:**

<details><summary>Click To Expand</summary>
<p>

![Screenshot_2019-10-22-18-11-18-362_com miui bugreport](https://user-images.githubusercontent.com/43437378/67286784-9e36c600-f4f7-11e9-8aaf-c382ce5e78fc.png)

</p>
<

[2019-10-22 13:04] #86 closed

[2019-10-22 13:59] jamesawer3 commented on #87
Fixed with this [comment](https://github.com/kmagiera/react-native-gesture-handler/issues/320#issuecomment-461119120)

[2019-10-22 13:59] #87 closed

[2019-10-23 06:01] jamesawer3 commented on #85
@ThanhNghia944 Do you have idea about how to handle statusupdateform image and submit button

[2019-10-23 06:26] ThanhNghia944 commented on #85
Hi @jamesawer3  because i upload image my server So I will upload the image first to get the link and then when I click submit I will update it to the database

[2019-10-23 06:27] jamesawer3 commented on #85
I'm asking about the styles @ThanhNghia944

[2019-10-23 06:30] ThanhNghia944 commented on #85
Hi  @jamesawer3  style for image , i use FastImage to view image
<img width="354" alt="Screen Shot 2019-10-23 at 1 30 06 PM" src="https://user-images.githubusercontent.com/53257922/67364185-405aba80-f599-11e9-908a-8287b7779452.png">
<img width="363" alt="Screen Shot 2019-10-23 at 1 29 31 PM" src="https://user-images.githubusercontent.com/53257922/67364195-4486d800-f599-11e9-88b3-f2723380a1ce.png">

[2019-10-23 06:31] jamesawer3 commented on #85
Ohh okay I'm using statusupdateform for updating status i have issue with UI in android

[2019-10-23 06:39] jamesawer3 commented on #85
@ThanhNghia944 How you are handling submit button for posting? How you are sending message, image to StreamApp

[2019-10-23 06:47] ThanhNghia944 commented on #85
Ohh okay I'm using statusupdateform for updating status i have issue with UI in android

 you can you
import { KeyboardAccessoryView } from 'react-native-keyboard-accessory';

 <KeyboardAccessoryView
          inSafeAreaView={false}
          alwaysVisible={true}
          hideBorder={true}
          androidAdjustResize={true} // FIX AUTO ADJUST ANDROID
          avoidKeyboard={true} //FIX AVOID V

[2019-10-23 06:53] jamesawer3 commented on #85
How you are send the data to StreamApp?

[2019-10-23 07:07] ThanhNghia944 commented on #85
you can use api
router.post('/timeline/post', checkTokenLogin , async (req, res) => {
  try {
    let timeline = await create(req.body);
    resSuccess(res, {data: timeline})
  }
  catch(err) {
    resError(res, err.message)
  }
})

const configs = _.get( (user || {} ).organization,'timeline.configs',{});
        let client = connectStream(configs.key,configs.secret,configs.appId);
await client.fe

[2019-10-23 07:17] jamesawer3 commented on #85
Okay thanks let me try, how you are posting images???

[2019-10-23 08:01] ThanhNghia944 commented on #85
hi i post my server ^^ i use https://github.com/joltup/rn-fetch-blob

[2019-10-23 08:02] jamesawer3 commented on #85
Okay, Thank you!!!

[2019-10-23 08:40] jamesawer3 commented on #85
This is my code
[code]

I'm getting this error when trying to post
[code]

[2019-10-24 10:08] jamesawer3 commented on #85
@jaapbakker88 Can you please help me to post a message in timeline feed???

[2019-10-24 10:08] jamesawer3 commented on #85
@ThanhNghia944 can I get some contact info for contacting you personally??? I have few doubts in  your code

[2019-10-24 10:35] jamesawer3 commented on #85
@ThanhNghia944

Can I get this full code???

[2019-10-24 23:30] DaniloArantesF commented on #48
I'm having the same issue.  Tried modifyActivityData too.

[2019-10-25 01:59] ThanhNghia944 commented on #85
Hi @jamesawer3  ^^
because I have customized many library components so when I send you, maybe you will not understand, what do you want me to help you with?

[2019-10-25 05:21] jamesawer3 commented on #85
how you are aligning that images

[2019-10-31 08:19] #85 closed

[2019-10-31 14:48] rafaelcavalcante commented on #69
Hi @jaapbakker88. Im not able to see the post from people i follow. I'm using the component like this:

`<FlatFeed feedGroup="timeline" Activity={CustomActivity} notify />`

I was wondering if you can't make the doc a little more friendly, like this:

![00001](https://user-images.githubusercontent.com/405355/67957403-50dfe600-fbd4-11e9-90b4-04f2d359f0ad.png)

[2019-11-04 12:33] jamesawer3 commented on #85
@ThanhNghia944 How you are showing the image after uploading to activity

[2019-11-05 01:52] ThanhNghia944 commented on #85
Hi @jamesawer3  you can show ^^
<img width="424" alt="Screen Shot 2019-11-05 at 8 51 38 AM" src="https://user-images.githubusercontent.com/53257922/68172287-8c4e2c00-ffa9-11e9-97e5-7f6feedb46d9.png">

[2019-11-05 10:33] jamesawer3 commented on #85
You are not rendering images according to its height like fb???

[2019-11-05 11:00] jamesawer3 opened #88 "Need callback action for like list press"
Need action for onAvatar Press and onLikeList press in [LikeList](https://github.com/GetStream/react-native-activity-feed/blob/f845cae31ed5ea118e6a02803b6eb8dead605574/src/components/LikeList.js)

[2019-11-06 01:48] ThanhNghia944 commented on #85
hi i do like facebook ^^

[2019-11-06 06:00] jamesawer3 commented on #85
In this only one image is posted???

[2019-11-11 06:45] matheusmatos opened #89 "FlatFeed with userId in parent component state"
### **Setup:**
- **iOS or Android?** iOS
- **Expo or regular React Native?** Expo
- **React Native Version:** expo-sdk-35.0.0 (based in RN 0.59)
- **expo-activity-feed version:** 0.8.17
- **getstream version:** 4.3.0

### **Description of the bug**
I'm not sure if it's a bug or a desired behaviour. When I try to set the FlatFeed `userId` prop on my component state, the FlatFeed doesn't update when

[2019-11-27 02:26] ThanhNghia944 opened #90 "[Feature request] Props Empty Components in SinglePost"
Hi @jaapbakker88  you can add props to empty components when data is not available or deleted in SinglePost
For example, when I click on 1 notify that has been deleted, the SinglePost will be empty
Expect: 1 component to render when data is empty
<img width="330" alt="Screen Shot 2019-11-27 at 9 24 36 AM" src="https://user-images.githubusercontent.com/53257922/69688197-ef8a3480-10f7-11ea-8515-83da

[2019-11-28 09:29] jaapbakker88 commented on #90
@ThanhNghia944

I'm not quite sure what you mean. Could you go into a bit more detail regarding this?

[2019-11-28 09:35] ThanhNghia944 commented on #90
ah means when I have a notification screen and I click on the notification item (the timeline for that notification has been deleted) then the SinglePost will be empty now, I expect a component to render when the data has been delete
<img width="359" alt="Screen Shot 2019-11-28 at 4 33 59 PM" src="https://user-images.githubusercontent.com/53257922/69794525-049cbb80-11fd-11ea-9572-f4b8f954c5dc.png"

[2019-12-06 12:45] asvine-p opened #91 "Refresh FlatFeed when new comments are added"
**Setup (always fill this in):**

- iOS or Android?
=> Both

- Expo or regular React Native?
=> Regular React Native

- React Native Version:
=> 0.61.4

- `react-native-activity-feed` or `expo-activity-feed` version: `npm list --pattern <package-name>`/`yarn list --pattern <package-name>`
=> react-native-activity-feed@0.8.17 / react-native-activity-feed-core@0.8.17

- `getstream` version: `npm lis

[2019-12-09 10:54] jasonwonghl opened #92 "[Feature Request] Placeholder prop for FlatFeed"
Could we have a Placeholder prop for FlatFeed component, much like react-activity-feed's FlatFeed component, such that if initial data has been requested and the response is empty, the Placeholder component will load?

Alternatively, a loading indicator prop to show a loader on initial request.

[2019-12-10 03:49] jwonghl commented on #39
This would be great!

[2019-12-10 07:12] #39 closed

[2019-12-11 14:15] asvine-p commented on #91
Is there anyone here ?

[2019-12-12 16:15] asvine-p commented on #92
Hi @jasonwonghl .

There is a prop called flatListProps in FlatFeed. You can override every props coming from FlatList.
You can use ListEmptyComponent key inside your object:
(https://facebook.github.io/react-native/docs/flatlist#listemptycomponent).

Here is an example

[code]

[2019-12-13 01:54] jwonghl commented on #92
Thanks @asvine-p

I'm already using that to display a placeholder if the list is empty. However it shows while the feed is still initially loading and that is undesired behaviour for me. I was wondering if there is a way to show a custom loader.

[2019-12-13 09:45] jamesawer3 commented on #83
@ThanhNghia944 @jaapbakker88 How to refresh the feed programmatically?

[2019-12-16 06:58] nzerk commented on #92
@asvine-p The problem comes from the fact that the empty placeholder content shows briefly before the content loads. So from a ui it shows [No Results Message] => [Content]. This isn't a nice experience at all. It should show a loading state before it loads the content in first time. Only after it has returned data, should it decide whether or not to show the empty placeholder.

[2019-12-16 09:26] asvine-p commented on #92
@nzerk @jwonghl
I see. Maybe some developper of this lib can help you,
I admit, it's not easy to have control over the requests and it's behavior.

[2019-12-18 11:07] jaapbakker88 commented on #91
Hey @asvine-p I looked into this and can confirm the flatfeed is not updated automatically, I will look into updating this to make sure it works. Keep an eye on this issue.

[2019-12-18 16:29] asvine-p commented on #91
Waiting for your reply ! Thanks

[2019-12-26 19:35] dgarciamuria opened #93 "IconBadge won't update correctly when mark_seen = true"
**Setup:**
- iOS
- React Native
- React Native Version: 0.61.2
- `react-native-activity-feed@0.8.14`
- `getstream@4.2.5`

Hi everyone. So I have a basic application with a `Notifications` screen. There's a `IconBadge` next to the tab button that takes you to that screen.
Whenever I react to an activity, a notification is created and the `IconBadge` reflects that and increments the counter, but whe

[2019-12-27 11:12] jamesawer3 opened #94 "Warning: Each child in a list should have a unique "key" prop"
I get this error in console how to rectify this

[code]

[2019-12-28 06:49] JJZolper opened #95 "Issue importing react-native-activity-feed"
I've been following:

https://www.npmjs.com/package/expo-activity-feed

I do not use Expo, but native code. I'm getting a bundling error:

error: bundling failed: Error: Unable to resolve module `react-native-activity-feed`

when I do:

import { StreamApp } from 'react-native-activity-feed';

It is definitely in my node modules. Obviously, I'm trying to get this imported not with expo-activity-fee

[2019-12-29 08:08] JJZolper commented on #95
I believe I was able to get around the problems by force linking an older version of node, be it 12.14.0. Then also using yarn 1.13.0, installing that with npm. I believe now I have react-native-activity-feed
 included as a pod and in the code itself. Would be advisable to button this up still though in terms of the node dependency. I believe I'm just ignoring the peer dependencies for react and r

[2019-12-30 12:15] jaapbakker88 commented on #94
@jamesawer3 I don't know what code this is referencing to. Please add that to the issue. For example I would need `TimelineFeedScreenView` the code for this component

[2019-12-30 12:17] jaapbakker88 commented on #95
@JJZolper I'll check into the node versions. Is this issue resolved otherwise? Regarding using npm or yarn, I always use yarn to install packages as it's much faster.

[2019-12-30 12:21] jaapbakker88 commented on #93
@dgarciamuria can you check in your Notifications screen if anything happens in
* componentWIllMount
* componentDidMount
* componentWillUpdate

[2019-12-30 12:26] jaapbakker88 commented on #89
@matheusmatos as I'm understanding you want to replace the feed with the other user's feed as soon as you change the userId.

To achieve this you probably want to replace the whole FlatFeed once the userId updates. We do some checks to avoid unnecessary rerenders and this changing the userId like this is not supported right now.

[2019-12-30 12:27] jaapbakker88 commented on #88
Please elaborate.

[2019-12-30 17:56] JJZolper commented on #95
@jaapbakker88 Thank you! I believe for now it is because I don't think it is complaining about using the code from that package. My VSCode acts a little funny though. I know getting code always updated to the latest is a full job but if possible it wouldn't be bad because then I don't have to specify versions of Yarn or Node in order to install. I'm new to Yarn and React Native still so some of th

[2019-12-31 08:17] #95 closed

[2020-01-02 17:40] dgarciamuria commented on #93
@jaapbakker88 I ended up building a custom implementation that uses `context` and gives you a handler to manually refresh notifications. I first tried to accomplish that by re-mountaing `IconBadge` (since that happens in `componentDidMount`) but it was far from ideal. But I can confirm that a subscription to a notifications feed is not receiving the event when all notifications are marked as seen.

[2020-01-03 08:09] jaapbakker88 commented on #93
Thank you for reporting back. I'm going to close this issue and investigate further in `getstream-js`

[2020-01-03 08:09] #93 closed

[2020-01-07 07:50] jamesawer3 commented on #94
This is my TimelineFeedScreenView code its bit lengthier

[code]

[2020-01-07 07:57] jamesawer3 opened #99 "Keyboard is hiding the statusupdateform's send button"
**Setup (always fill this in):**

- iOS or Android? iOS
- Expo or regular React Native? React Native
- React Native Version: 0.61.5
- `react-native-activity-feed` or `expo-activity-feed` version:  react-native-activity-feed@0.8.17
- `getstream` version: getstream@4.2.5

**Describe the bug**
iPhones greater than X is phasing this issue. Keyboard is hiding half of the send button

**To Reproduce**
J

[2020-01-07 08:18] jaapbakker88 commented on #94
@jamesawer3 not really related to this libary, but on this part you want to use a key on every <Image />.

For more on this: https://reactjs.org/docs/lists-and-keys.html

[code]

[2020-01-07 08:30] tbarbugli commented on #99
@jamesawer3 I see you closed this already; were you able to find a solution for this?

[2020-01-07 08:34] jamesawer3 commented on #99
Yup, actually I just gave safearea with flex 1, removed that and gave separate view for flatfeed and statusupdateform and set it with height but this isn't the correct way

[2020-01-07 08:38] jamesawer3 commented on #94
Thanks @jaapbakker88 will check it

[2020-01-09 11:53] tbarbugli commented on #99
@jaapbakker88 is there anything we should do on our side about this?

[2020-01-09 11:57] jamesawer3 commented on #99
Yes can you please test on iPhone's came after X series i face this issue

[2020-01-10 08:52] jaapbakker88 commented on #99
@jamesawer3 I can confirm I'm seeing this behaviour, adding a KeyboardAvoidingView fixed it for me:

[code]

[2020-01-10 09:43] jamesawer3 commented on #99
Yup its working fine but i couldn't scroll my flatfeed till the end if the keyboard is active contents are hiding

[2020-01-19 13:58] aderici opened #103 "doFeedRequest does not work with NotificationFeed component"
**Setup (always fill this in):**

- iOS or Android?
iOS
- Expo or regular React Native?
Expo
- React Native Version:
- `react-native-activity-feed` or `expo-activity-feed` version: `npm list --pattern <package-name>`/`yarn list --pattern <package-name>`
0.8.18
- `getstream` version: `npm list --pattern getstream`/`yarn list --pattern getstream`
4.4.0
**Describe the bug**
I am using NotificationFee

[2020-01-20 04:40] Shomari commented on #50
@aldrinc any luck with this error without using SinglePost?  I'm having the same issue

[2020-01-20 14:36] jaapbakker88 commented on #50
@aldrinc @Shomari can you tell me a bit more about your setup.

[2020-01-20 17:58] Shomari commented on #50
@jaapbakker88 basically I have a flatfeed with a custom activity.  In that custom activity if you click on a post I use the react navigator to take you to a screen with only that post and pass params in.  I wanted a bit more of a customized look so I'm not really using the single post component (although I'm not totally against it).

In the single post screen, I have an Activity component inside a

[2020-01-20 18:52] jaapbakker88 commented on #50
I think the problem is your usually getting a bunch of props passed through from either the FlatFeed or the SinglePost. If you don't use these components you're missing some functionality the CommentList depends on. But you can customize your activity completely with the SinglePost or FlatFeed components by passing your own component like this <SinglePost Activity={YourComponent} />, this should g

[2020-01-21 15:05] #94 closed

[2020-01-21 15:09] jamesawer3 opened #104 "How to notify other user of the activity when liking a feed"
I need to notify other users of the feed when a activity of `timeline` is liked. I'm using below line for liking a activity and its successfully liking that activity but how to notify other users

[code]

[2020-01-22 08:33] tbarbugli commented on #104
atm we do not send notifications for reactions; as a workaround you can use the `target_feeds` option to create an activity to another feed and listen for changes there https://getstream.io/docs/#reactions_notify-other-feeds

[2020-01-30 12:59] Antoine-C commented on #91
@jaapbakker88 Can confirm this is still an issue, any ETA on this behavior ?
Thank's

[2020-01-30 18:09] jaapbakker88 commented on #91
@Antoine-C @asvine-p recently we've added the `setListRef` prop to FlatFeed and NotificationFeed. This allows you to create your own reference to the FlatList underneath which will allow you to do anything to the FlatList. For instance refresh it. It works like this.
`setListRef={(ref) => this.refToList = ref}`

You should be able to refresh it that way. Let me know if this helps?

[2020-01-31 09:23] Antoine-C commented on #91
@jaapbakker88 Thank's for this props, everything works like a charm with this !

[2020-02-03 08:16] akhilrichard commented on #83
@jamesawer3
please try this,
Notifier={element => {
                if(this.state.isRefresh){
                  element.onPress();
                  this.setState({isRefresh:false})
                }
                return <NewActivitiesNotification  {...element} userId="Richy" />;
                }} />

[2020-02-03 21:30] jaapbakker88 commented on #103
@aderici We've looked into this and because of they way the library works your indeed right the doFeedRequest doesn't work on the NotificationFeed because we handle the options somewhere else.

You can work around this by the following:
[code]

Because the notification feed needs to be accessible in multiple locations we need to add it to the shared feeds. And the notification feed is the only one

[2020-02-03 21:34] aderici commented on #103
hi thanks for the response,

i am actually using the shared feeds because i want to display a badge icon on the navigation and the feed itself as you already mentioned.

I will try the suggested solution and get back with the results

Best regards,

[2020-02-10 12:49] savithri-lab opened #106 "while entering comment on flatfedd"
while i am submitting  comment on flat feed i got bellow error .. status code : 400 ,parent must not be empty

[2020-02-11 07:35] savithri-lab opened #107 "Stream Api error"
StreamApiError {error: {…}, response: XMLHttpRequest, message: "{"detail":"Errors for fields 'activity_id', 'paren…]},"duration":"0.14ms"} with HTTP status code 400", stack: "Error: {"detail":"Errors for fields 'activity_id',…e?platform=android&dev=true&minify=false:3318:37)"}error: {detail: "Errors for fields 'activity_id', 'parent'", status_code: 400, code: 4, exception: "InputException", except

[2020-02-11 08:42] tbarbugli commented on #107
Please include some more context like the code

[2020-02-13 11:43] asvine-p commented on #91
Hi @jaapbakker88. It seems to work.
Thanks for posting a fix. It seems to work by using
```feedRef.props.onRefresh(true)```
Not sure it's the best way to do it, but it does the job.

Thanks !

[2020-02-13 20:59] OzzieOrca opened #108 "Are Typescript typings available?"
I'm only seeing flow types. I'm most interested in types for `react-native-activity-feed`.

Has any effort been put into this? Any way to help? I'm evaluating this platform and a lack of types will be annoying.

[2020-02-13 21:02] tschellenbach commented on #108
Yeah we made a mistake using Flow for this.

Our chat API JS sdks are moving to typescript, feeds will follow in the future (I suspect at least 3 months out at this point). If you want to fork and do a PR we'll definitely merge it.

[2020-02-14 09:38] #91 closed

[2020-02-26 13:25] jaapbakker88 commented on #103
Let me know if this resolves your issue.

[2020-02-26 13:27] aderici commented on #103
Hi, thanks the proposed solution did resolve my issue as i can inject a custom function to make the feed request, so that i can call my backend to enrich feed data.

[2020-02-26 13:28] #103 closed

[2020-03-11 16:08] familywiser1 commented on #41
I was also having this problem then I noticed the problem is with example code and not with CommentItem.

I think you should fix the example code at - https://github.com/GetStream/react-native-example/blob/master/screens/SinglePostScreen.js#L85

[code]
Here is correct example:

[code]

[2020-03-15 14:46] AdamGold opened #117 "Signature is invalid"
**Setup (always fill this in):**

- iOS
- regular React Native
- React Native Version: 0.61.1
- `react-native-activity-feed`: 0.8.21

**Describe the bug**
The following is how I implement `GetStream`:
[code]

I get an alert saying "Signature is invalid", although that user exists in the app and the key, secret & token are correct. The token is being generated in the backend for each user.

[2020-03-16 14:07] AdamGold opened #118 "Realtime Reactions"
**Setup (always fill this in):**

- iOS
- regular React Native
- React Native Version: 0.61.1
- `react-native-activity-feed`version: 0.8.21

**Describe the bug**
When adding a new reaction/comment via `CommentBox` or `ReactionIcon`, nothing gets updated in realtime. A refresh must be done.
I couldn't find any place describing how to get the reactions to update in real time.

**To Reproduce**
[code

[2020-03-17 13:51] #118 closed

[2020-03-22 13:32] #117 closed

[2020-03-23 15:12] AdamGold commented on #92
Any news on this?

[2020-03-31 20:45] snmishra opened #123 "i18n json files missing from package"
**Setup (always fill this in):**

- Android
- regular React Native
- React Native Version: 0.62
- `react-native-activity-feed` : 0.9.0
- `getstream` version: 4.5.1

**Describe the bug**
The json files from recently merged i18n feature are missing in published package

**To Reproduce**
Steps to reproduce the behavior:

1. Upgrade react-native-activity-feed to 0.9.0
2. Build and run react-native app

[2020-03-31 21:06] vishalnarkhede commented on #123
Hey @snmishra thanks for this. Looking into it ...

[2020-03-31 21:22] vishalnarkhede commented on #123
Hey @snmishra , please use `0.9.1`. I have fixed the package :)

Let me know if it works!

[2020-03-31 21:46] snmishra commented on #123
Thanks, that was an impressive turn around time. Works now.

[2020-03-31 21:55] #123 closed

[2020-04-12 10:01] hedgerh opened #124 "[Feature Request] OG input component and StatusUpdateForm improvements"
The `StatusUpdateForm` is too limited for my use case, but rolling a custom one is also painful.

For custom, it'd be great if the text input and og fetching/management was pulled into its own component.

For me to use the `StatusUpdateForm`, I'd need to be able to:

1. Use it to edit activities

2. Have more control over attachments/verbs.  For example, I'd love to allow my users to share events

[2020-04-12 10:45] hedgerh opened #126 "[Feature Request] Expose context or add hooks"
Using the render prop components for context is a hassle and difficult.  It'd be great to use hooks for this instead.

If the library exposed the `StreamContext` and `FeedContext`, we could do this ourselves with `useContext`.

Opened a PR for this https://github.com/GetStream/react-native-activity-feed/pull/125

[2020-04-16 18:28] shanemduggan commented on #14
I'd like the functionality that @Ingibjorg described as well

[2020-04-20 12:41] LinuiLeaf opened #128 "Does stream provide support for threaded comments?"
Tried out the example app but cannot find the reply section as working. Does feed api provide support for threaded comments?.

[2020-04-22 08:09] hedgerh commented on #128
It is possible to add replies to comments.  `client.reactions.addChild(kind, reaction, data, options)` is how you do it with the client.  Activities within a feed should also have access to a `props.onAddChildReaction` prop that you can pass down to the reaction and call when a comment is added.  The `kind` is `comment` and the data is something like `{ text: 'your reply' }`.  From there I think y

[2020-04-27 12:30] akhatriST commented on #117
@AdamGold How did you resolve this issue? I am getting this error as well

[2020-04-27 12:34] AdamGold commented on #117
@akhatriST I was using the wrong tokens.

[2020-04-27 13:17] akhatriST commented on #117
@AdamGold I see, thanks for the response.

[2020-04-28 22:04] giaset commented on #92
+1, would be awesome if this was supported!

[2020-05-25 09:36] ferhatelmas opened #130 "[Feature Request] Support activity delete"
Users should be able to delete their posts.

A similar request: https://stackoverflow.com/questions/61972374/getstream-com-question-how-can-a-user-that-posted-something-delete-edit-his-pos

This might be incorporated to changes within #124.

[2020-05-25 17:33] GuyAvraham commented on #130
Thank you @ferhatelmas

[2020-05-28 09:16] gchazot commented on #89
@matheusmatos I've noticed this behaviour and found a work-around  that seems to work fine for me. By passing a `key` prop to a component you can suggest to react to re-render it.

[code]
This was my initial code, it would not update when changing `userId` `targetGroup` or `targetId` props.

I updated it like this:
[code]

It also works with the `key` prop on `<FlatFeed>`  when `userId` is a const

[2020-06-02 14:13] jamesawer3 commented on #88
In Like list of single post if i press the user avatar or the whole list I need a onClick function so that i could handle the click event

[2020-06-02 15:20] jamesawer3 opened #132 "fetch feed after activity id error"
Fetching feeds after a particular activity id, fetches deleted feed.

[code]

[2020-06-03 06:23] jwonghl opened #133 "[Feature Request] Add support for SVG in ReactionToggleIcon component"
Let activeIcon and inactiveIcon props accept SVG

[2020-06-04 09:13] jamesawer3 commented on #104
@tbarbugli Can you explain how to use this  `{ targetFeeds:  ["notification:thierry"] }` whose name should be mentioned inside the notification

[2020-06-30 08:58] kathirsuresh commented on #77
If you remove the
line no 76  : if (!oldestToNewest) {
line no 77:      return;
line no 78    }
in
react-native-activity-feed/src/components/ReactionList.js

And try it, the comment list automatically updated

[2020-07-03 09:38] luisfuertes opened #140 "FlatFeed filtered by reactions"
Im trying to show FlatFeed filtered by reaction, example "like" to show only my "like" reactions activities.

How can i get this data with pagination?

This query is working but the pagination does not work. I am passing the options that I receive from my FlatFeed to do the query in the doFeedRequest, but these options do not paginate

[code]

What would be the correct way to do a timeline only wi

[2020-07-07 13:16] luisfuertes commented on #140
@jaapbakker88 any idea?

[2020-07-20 07:55] luisfuertes commented on #140
Hi?

[2020-07-20 07:56] luisfuertes commented on #140
@jaapbakker88 ?

[2020-07-21 14:55] jaapbakker88 commented on #140
@luisfuertes i've discussed this a bit internally and we've come to the conclusion that our components don't really support this use case right now. But you can make this work by creating a separate feed for your "liked" activities and when you "like" the activity you post the activity to the feed using the `targetFeed` option like so:
[code]
the onToggleReaction function is should be available on

[2020-07-21 14:55] #140 closed

[2020-07-21 17:43] snmishra commented on #108
I had converted the Flow types to Typescript types for my own project. Not the best, but it worked alright for me. If there's interest, I can see if I can extract and upload them.

[2020-07-22 07:45] jaapbakker88 commented on #108
There's definitely interest,  but right now we're very busy converting our other libraries.

[2020-07-28 04:51] #132 closed

[2020-07-30 11:57] luisfuertes commented on #140
but in that case the comments reactions of the activities will not be the same as those of the original activity, right?

If it is true, how can i inject "data" prop to FlatFeed to manage queries pagination in my component?

I can get the "client" to make queries like:
[code]

But i need insert results in FlatFeed. Can i override "data" prop in flatListProps?

[2020-07-31 08:23] luisfuertes opened #144 "Set FlatFeed data"
Ok i have tried this to get other user likes activities:

[code]

And in FlatFeed
[code]

But have next error: `TypeError: item.get is not a function`
I dont want use my own FlatList because i lost functions like "onToggleReation" in my activities.

Any idea?

[2020-08-03 09:33] luisfuertes commented on #144
Any update with this? @jaapbakker88

[2020-08-05 12:04] luisfuertes commented on #140
@jaapbakker88 any help with this?

[2020-08-11 10:38] luisfuertes commented on #144
...

[2020-08-11 12:32] jaapbakker88 commented on #144
@luisfuertes I'm not 100% sure what you're trying to do.  Have you tried putting the liked feeds in a seperate feedgroup something like user_liked_activities as we suggested in a different issue?

[2020-08-11 13:02] luisfuertes commented on #144
I asked you in the other issue if the reactions such as comments would not appear separated in one and another activity when doing that

[2020-09-09 02:51] jwonghl opened #150 "Duplicate posts if tapping on new activity notification while also scrolling and lazy loading feed"
**Setup (always fill this in):**

- iOS or Android? **Both**
- Expo or regular React Native? **regular**
- React Native Version:
- `react-native-activity-feed` or `expo-activity-feed` version: `npm list --pattern <package-name>`/`yarn list --pattern <package-name>` **0.8.22**
- `getstream` version: `npm list --pattern getstream`/`yarn list --pattern getstream`  **4.5.4**

**Describe the bug**
Ofte

[2020-10-01 18:19] gitteraz opened #152 "FollowButton's underlying Touchable opacity given wrong prop onClick"
Hi the `clicked` prop on FollowButton does not work. Maybe due to this line

https://github.com/GetStream/react-native-activity-feed/blob/f71415531255ad10361eb9c6df5f4f97d7fb45af/src/components/FollowButton.js#L40

Regards

[2020-10-24 21:49] fwdevin opened #153 "StatusUpdateForm image upload error"
**Setup (always fill this in):**

- iOS or Android?
**iOS**

- Expo or regular React Native?
**Expo**

- React Native Version:
[code]

- `getstream` version:
[code]

**Describe the bug:**
When pressing the image button in the StatusUpdateForm component, the following error occurs:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create a component using the StatusUpdateForm like the f

[2020-10-28 16:22] vishalnarkhede commented on #153
Hey @fwdevin we will update the fix for this soon.

[2020-10-29 00:48] tomredman opened #154 "Please update to work with Expo Client 39 / React Native 0.63"
**Setup (always fill this in):**

- iOS or Android? iOS
- Expo or regular React Native? Expo
- React Native Version: 0.63.2
- `react-native-activity-feed` or `expo-activity-feed` version: `expo-activity-feed@0.9.1`
- `getstream` version: `getstream@4.5.4`

**Describe the bug**
The default repo no longer runs on Expo Client for iOS, which requires Expo SDK 36, 37, 38, or 39. Attempting to upgrade t

[2020-10-29 01:01] tomredman commented on #154
The offending package was actually `react-native-keyboard-aware-scroll-view`, which needs to be `0.9.2`.

[2020-10-29 17:04] fwdevin commented on #153
Great thanks @vishalnarkhede !

[2020-10-30 14:11] vosters opened #155 "Non-iterable TypeError when adding 3rd tier comment"
SETUP
- iOS
- "react-native": "^0.62.2",
- "react": "^16.13.1",
- "react-native-activity-feed": "^0.9.1",
- "getstream": "^6.2.0",

**Describe the bug**
When I submit to add a 3rd tier comment, I receive the following TypeError. The comment has been added despite this error, but only displays if I refresh the app. This error only occurs when I add the first 3rd tier reply on the chain. After refre

[2020-11-03 11:14] platonicsocrates commented on #153
@vishalnarkhede This would be great to fix. We're planning to ship tomorrow and this is a blocker. Any ETA on when you'll be fixing this?

[2020-11-03 14:03] nickjanssen opened #156 "Date when adding comments is displayed wrong. Makes whole library unusable"
**Setup (always fill this in):**
- iOS or Android? both
- Expo or regular React Native? React Native
- React Native Version: 0.63.3
- `react-native-activity-feed` or `expo-activity-feed` version: `npm list --pattern <package-name>`/`yarn list --pattern <package-name>`: react-native-activity-feed
- `getstream` version: `npm list --pattern getstream`/`yarn list --pattern getstream` 4.5.4

**Describe

[2020-11-03 23:37] district-michael commented on #108
@tschellenbach any movement on migrating these libraries to TS?  I noticed that the chat libraries just moved across, so hoping these libraries will also be moving soon 🤞

[2020-11-04 01:17] tschellenbach commented on #108
We had a good experience with TS on the chat libs, these will definitely follow, but it's not on the immediate roadmap

[2020-11-05 02:29] #153 closed

[2020-11-06 06:57] ZaikinaEvgeniya-2 opened #158 "clicked not working in FollowButton"
Environment
"react-native": "0.61.5",
"react-native-activity-feed": "^0.9.1",

Function `clicked` not working,
I think problem in `react-native-activity-feed-core/lib/components/FollowButton.js`
if change onClick to onPress everything work

My patch
[code]

[2020-11-11 22:35] hmolotsi commented on #156
@nickjanssen Since the CommentItem class is simple, just create your own and use it instead

[code]

[2020-12-07 00:20] mm7mod opened #160 "upload image using StatusUpdateForm always fails"
**Setup (always fill this in):**

- iOS or Android? android
- Expo or regular React Native? regular React Native
- React Native Version:0.63.3
- `react-native-activity-feed` or `expo-activity-feed` version: `npm list --pattern <package-name>`/`yarn list --pattern <package-name>`
`-- react-native-activity-feed@0.9.1
- `getstream` version: `npm list --pattern getstream`/`yarn list --pattern getstrea

[2020-12-07 01:20] mm7mod commented on #160
[Mon Dec 07 2020 03:18:52.544]  WARN     [TypeError: Network request failed]
[Mon Dec 07 2020 03:18:52.572]  WARN     [TypeError: Network request failed]
[Mon Dec 07 2020 03:18:52.573]  WARN     [TypeError: Network request failed]

[2020-12-07 01:20] mm7mod commented on #160
[Mon Dec 07 2020 03:18:52.544]  WARN     [TypeError: Network request failed]
[Mon Dec 07 2020 03:18:52.572]  WARN     [TypeError: Network request failed]
[Mon Dec 07 2020 03:18:52.573]  WARN     [TypeError: Network request failed]

[2020-12-08 18:32] Muffles commented on #48
Any update on this? Can't seem to shake off the "Unknown" user as well...

[2020-12-21 10:21] Quantmatic opened #165 "Warning: Each child in a list should have a unique "key" prop."
**Setup (always fill this in):**

- iOS or Android?
ios emulator
- Expo or regular React Native?
Expo39
- React Native Version:
`expo-activity-feed`
https://github.com/Quantmatic/getstream_feed/blob/master/package.json

**Describe the bug**
Following the guide you got [here](https://getstream.io/react-native-activity-feed/tutorial/):

Get a keyProp error dump

Warning: Each child in a list should

[2020-12-23 08:40] Quantmatic commented on #154
Hi Tom, if you managed to get the example to run on the latest expo, I would love to clone your efforts

I'm trying to do the same at the moment, biting through errors

[2020-12-23 09:41] vishalnarkhede commented on #154
Hey @Quantmatic @tomredman We will update and fix these issues early next week :)

[2020-12-23 12:00] Quantmatic commented on #165
The solution is adding the   ` key: i,` to the react-native-activity-feed-core Activity.js component inside the node_modules

[2020-12-24 07:34] mayuri-pansuriya commented on #91
@jaapbakker88 Can you tell me how we can call this function?

[2020-12-26 22:52] fawwaz commented on #82
It might be a little bit of topic but I tried to use plain `<CommentList />` but it seems that it doesn't render child reaction. Do you know how to display child reaction properly ?

[2020-12-27 06:59] fawwaz opened #166 "CommentList doesn't include child reaction"
**Setup (always fill this in):**

- iOS or Android? Android
- Expo or regular React Native? React Native
- React Native Version:
- `react-native-activity-feed` or `expo-activity-feed` version: `npm list --pattern <package-name>`/`yarn list --pattern <package-name>`: ^0.9.1
- `getstream` version: `npm list --pattern getstream`/`yarn list --pattern getstream`: 4.5.4

**Describe the bug**
A clear and

[2021-01-07 14:03] #99 closed

[2021-01-07 14:20] #108 closed

[2021-01-07 14:21] vishalnarkhede commented on #44
We have it on roadmap, but not to be expected in next few months. We have typescript support on underlying `getstream` package now :)

[2021-01-07 14:21] #44 closed

[2021-01-07 14:31] vishalnarkhede commented on #107
Hey @savithri-lab , we are closing this issue due to lack of information. If you are still facing the issue, please give us more details and reopen the issue :)

[2021-01-07 14:31] #107 closed

[2021-01-07 14:39] vishalnarkhede commented on #106
@savithri-lab Are you still facing this issue?

[2021-01-11 13:41] #126 closed

[2021-01-11 13:41] #152 closed

[2021-01-11 13:41] #154 closed

[2021-01-11 13:41] #156 closed

[2021-01-11 13:41] #160 closed

[2021-01-11 13:41] #165 closed

[2021-01-11 14:24] tomredman commented on #154
Thank you @vishalnarkhede!

Sorry @Quantmatic – I totally missed your comment. My bad!

[2021-01-11 14:38] #158 closed

[2021-01-24 01:33] fawwaz opened #169 "[FEATURE REQUEST] FlatFeed as Grid"
**Setup (always fill this in):**

- iOS or Android? `Android`
- Expo or regular React Native?:  `React Native`
- React Native Version: `0.63.3`
- `getstream` version: `7.1.1`

**Describe the bug**
I want to display FlatFeed as Grid. Usually, I do it by involving a raw array and map it over Row & Column component like this :
[code]

However, it is impossible to use `FlatFeed` as it only gives you a

[2021-01-27 17:47] aamir-ans commented on #160
@mm7mod Is the image upload issue resolved ? I'm facing same issue @vishalnarkhede

[2021-01-27 18:02] aamir-ans opened #170 "Image upload always fails in android using StatusUpdateForm component"
@vishalnarkhede
- iOS or Android? android
- Expo or regular React Native? React Native
- React Native Version: 0.62.1
- `react-native-activity-feed` version: 1.0.1
 `npm list --pattern <package-name>
- `getstream` version: 7.2.0

**Describe the bug**
Problem with uploading an image using StatusUpdateForm component.
Always shows popup with error attached screenshot below :
![Screenshot_2021-01-27-2

[2021-01-27 20:00] vishalnarkhede commented on #170
@aamir-ans we are working on this issue. Will keep you posted :)

[2021-01-28 05:56] aamir-ans commented on #170
@vishalnarkhede Thanks for the update, can you let me know which stable version I can use for now ?

[2021-01-28 10:44] wodow opened #171 "IconBadge showNumber prop is incorrectly typed"
[`IconBadge`](https://github.com/GetStream/react-native-activity-feed/blob/master/src/components/IconBadge.js#L34) defines

[code]

yet its default is `false`, at https://github.com/GetStream/react-native-activity-feed/blob/master/src/components/IconBadge.js#L16 and treated like a boolean at https://github.com/GetStream/react-native-activity-feed/blob/master/src/components/IconBadge.js#L53

Should

[2021-01-29 07:19] aamir-ans commented on #170
@vishalnarkhede Any update or which version I can use for now ?

[2021-01-29 09:43] vishalnarkhede commented on #170
@aamir-ans Publishing a patch in hour!!

[2021-01-29 10:24] vishalnarkhede commented on #170
@aamir-ans please upgrade to `react-native-activity-feed@1.0.2`.

- Please make sure you have `getstream@7.2.1`  in your yarn.lock or package-lock.json
- Chrome debugger may interfere with network request. So please test upload feature without chrome debugger.

[2021-01-29 10:54] aamir-ans commented on #170
@vishalnarkhede Thanks for update.
**StatusUpdateForm** supports multiple image upload or not ?

[2021-01-29 12:26] vishalnarkhede commented on #170
@aamir-ans For now, no!!

[2021-02-01 15:54] aamir-ans commented on #170
@vishalnarkhede Hey I'm not able to upload an image using **client.images.upload()** function, getting just this error
 **Network Error**. Can you please let me know which getstream version I can use ?

[2021-02-03 05:03] savithri-lab commented on #106
yes @vishalnarkhede

[2021-02-25 14:24] vishalnarkhede commented on #170
@aamir-ans Its a well knows issue that Flipper or Chrome debugger interferes will network calls, causing image uploads to fail. So either you should upgrade Flipper to latest version or disable any kind of debugger before testing image uploads

[2021-02-26 12:15] stevetayloruk opened #173 "Passing in Array for Mark_Read On FeedOptions"
Question.

Does the NotificationFeed Component allow for an array of Id's to be passed like the client library as detailed here: [https://getstream.io/activity-feeds/docs/react-native/flat_feeds/?language=javascript#notification-feeds](https://getstream.io/activity-feeds/docs/react-native/flat_feeds/?language=javascript#notification-feeds)

Or is it just a bool?

thanks

Steve

[2021-03-04 21:49] dubitoergo commented on #83
I'm also looking for some form of flat feed that updates automatically. @jaapbakker88 Why the emphasis on this idea being bad practice from a UI/UX perspective. A notification feed which updates by 'animating in' new activites from the top seems practical (and desirable) for a number of situations. Consider a component functioning as 'history'. If you'd like to update this feed in real-time as a u

[2021-03-15 11:17] vishalnarkhede commented on #170
@aamir-ans please reopen if you are still facing the issue even after disabling debugger!!

[2021-03-15 11:17] #170 closed

[2021-03-15 11:18] #81 closed

[2021-03-15 11:19] #89 closed

[2021-03-29 10:35] wodow commented on #93
This appears to still be an issue in `react-native-activity-feed-core` v1.0.1

Please could this be reopened? Regardless of whether the issue is really in `getstream-js`, it still manifests here.

[2021-03-29 10:50] wodow commented on #93
Following a little more searching, I see https://github.com/GetStream/react-activity-feed/issues/102#issuecomment-640538623 suggests that it depends on `sharedFeeds`, so I will look into that.

[2021-04-22 10:52] upenn-raymondmason opened #179 "Notification Component for Notification Feed?"
Does there exist a Notification Component we should provide to NotificationFeed via the Group prop?

For react-activity-feed, there exists such as Notification Component (https://github.com/GetStream/react-activity-feed/blob/main/src/components/Notification.js), but I could not find such a component for this library.

If we are expected to implement this ourselves, how can we ensure that other fea

[2021-05-05 13:13] ChandanCC opened #181 "Unable to resolve module AccessibilityInfo"
- Both iOS and Android
- Using regular React Native
- react-native@0.63.4
- react-native-activity-feed@1.1.0
- getstream@7.2.8

**Describe the bug**
Unable to use react-native-activity-feed in the project
The project works fine if I comment the screen which is using react-native-activity-feed
Otherwise gives the error

**To Reproduce**
Basic installation procedure from docs and `npx react-native r

[2021-05-06 07:47] vishalnarkhede commented on #181
Hey @ChandanCC Have you tried clean install? I think that should solve this issue.

[code]

Its wierd that its pulling react-native from `react-native-activity-feeds/node_modules/react-native`. Are you trying to locally link the package?

[2021-05-06 11:10] ChandanCC commented on #181
It sort of did help me solve the issue. Thanks a lot!
I did try a clean install before also...
But maybe my packages along with the new changes after adding activity-feed were creating some issues.

I believe `npm audit fix --force` helped it work this time...
Can't say the exact reason.

Thanks a lot for such a quick response!

[2021-05-06 11:12] ChandanCC commented on #181
BTW are there any possibilities of adding typescript down the line??

[2021-05-06 13:14] vishalnarkhede commented on #181
Yes, we do have a plan to introduce typescript, next quarter.

[2021-05-06 13:14] #181 closed

[2021-05-10 05:21] iamshouvikmitra opened #193 "Typescript Support"
Are there any type def file available for this project?

[2021-05-17 11:53] vishalnarkhede commented on #193
Hey @iamshouvikmitra not at the moment. But its on our roadmap for next quarter!!

[2021-05-25 19:12] bryanbassett opened #202 "Cant view own singlepost"
**Setup (always fill this in):**

- iOS or Android?only tested on  android so far
- Expo or regular React Native? expo
- React Native Version: sdk-41
- `react-native-activity-feed` or `expo-activity-feed` version: `npm list --pattern <package-name>`/`yarn list --pattern <package-name>` expo-activity-feed
- `getstream` version: `npm list --pattern getstream`/`yarn list --pattern getstream`
 "^7.2.9

[2021-05-25 22:01] bryanbassett commented on #202
Oh wait... you have to follow yourself? Seems weird. Is that expected behavior?

[2021-05-27 20:51] nishiloxit commented on #82
Hi @fawwaz did you manage to resolve this issue? I am unable to render child reactions properly. So my 2nd level of comment cannot be properly liked. I notice it has something to do with own_children and latest_children.

[2021-05-28 01:40] fawwaz commented on #82
Not yet @nishiloxit

[2021-05-28 02:41] nishiloxit commented on #82
@fawwaz any workarounds you are using? I am using this in a production ready app and I am stuck at this.

[2021-06-07 09:03] nishiloxit commented on #118
Hey @AdamGold , did you manage to resolve this? I am facing a similar issue. When I add a comment, it doesnt auto-add itself into the ReactionList I am using to render comments.

[2021-06-13 15:46] fawwaz opened #205 "How to implement"
**Setup (always fill this in):**

- iOS or Android?
- Expo or regular React Native?
- React Native Version:
- `react-native-activity-feed` or `expo-activity-feed` version: `npm list --pattern <package-name>`/`yarn list --pattern <package-name>`
- `getstream` version: `npm list --pattern getstream`/`yarn list --pattern getstream`

**Describe the bug**
A clear and concise description of what the bug

[2021-06-17 08:44] nishiloxit commented on #166
Hey @fawwaz I am facing similar issue. There is no component for rendering child reaction. So I am having 2nd level of comments. And I cannot get them rendered with existing components. How did you manage to solve this?

[2021-06-21 01:25] ronaldcurtis commented on #193
+1

Also need to have this in typescript. Looking forward to it 👍

[2021-06-23 19:08] mikeymaio opened #206 "[FEATURE REQUEST]: Ability to Pass a Custom FlatList as a prop to FlatFeed ie flatListComponent"
I love this library, but have to use a flatList component within a reanimated-bottom-sheet component and am having scrolling issues (their package issue, not yours). If I could pass a FlatList from react-native-gesture-handler to be used in the FlatFeed component, my problem would be solved. I think this would also be useful for anyone using a component library or their own styled components. I wo

[2021-06-30 05:46] yumoraby commented on #193
Where did you see TS support? I dont see it on GH or npmjs

[2021-06-30 05:48] ronaldcurtis commented on #193
@yumoraby Sorry, my mistake, I was looking at their react package, not react-native: https://github.com/GetStream/react-activity-feed

[2021-06-30 05:50] yumoraby commented on #92
any updates on handling the empty field?

[2021-07-13 09:02] Molefas opened #207 "StatusUpdateForm: No action on picture click"
**Setup (always fill this in):**

- iOS
- Regular React-native
- React Native Version: 0.61.5
- react-native-activity-feed version: 1.1.0
- getstream version: 7.2.10

**Describe the bug**
On the `StatusUpdateForm` component, there is no behaviour when I click on the picture icon. No error, no warning, simply nothing happens and I have no way to debug this.

**To Reproduce**
Steps to reproduce the

[2021-08-09 07:30] mayuri-pansuriya opened #213 "FlatFeed keeps on refreshing multiple times for the first time we land on the page"
On Android and ios devices when we land on the flat feed. It keeps on refreshing the feeds(shows the spinner at the top). And so the images keeps on blinking.

[2021-08-15 18:17] tomjohnhall opened #219 "ReferenceError: Can't find variable: Buffer"
- iOS
- regular React Native
- React Native Version: 4.13.1
- `react-native-activity-feed` version: 1.1.0
- `getstream` version: 7.2.10

**Describe the bug**
When using `StreamApp` I get this error: `ReferenceError: Can't find variable: Buffer`

Do I need to use a `shim.js` to make Buffer available in the global scope? I've tried this with the `buffer` package but it doesn't seem to fix the bug.

[2021-08-15 19:08] tomjohnhall commented on #219
Resolved - I moved `import ./shim.js` above the AppRegistry import and the StreamApp component now works fine

[2021-08-16 11:26] #219 closed

[2021-08-24 18:21] wmarsey commented on #118
Hi @AdamGold @nishiloxit did either of you find a fix for this? I've been hacking at this all day with no solution...

[2021-08-26 04:46] yumoraby opened #220 "Expo-Permissions Deprecated"
**Setup (always fill this in):**

- iOS or Android? Both
- Expo or regular React Native? Expo
- React Native Version:
- `expo-activity-feed` 1.1.0

**Describe the bug**
expo-permissions has been removed from the latest expo release.

affected file: https://github.com/GetStream/react-native-activity-feed/blob/master/expo-package/src/index.js#L5

[code]

**Resolution**

[code]

[2021-09-11 05:58] wtferror opened #225 "Missing @Types"
Is missing the Types from react-native-activity-feed. its made alot harder to work with this library

[2021-10-19 09:19] pratishshr opened #237 "Keyboard is hiding the StatusUpdateForm in android"
**Setup (always fill this in):**

- iOS or Android? Android
- Expo or regular React Native? Regular
- React Native Version: 0.64.2
- `react-native-activity-feed`: 1.1.0

**Describe the bug**
Keyboard is hiding the StatusUpdateForm in android. Works fine in iOS.

**To Reproduce**
Steps to reproduce the behavior:

1. Use StatusUpdateForm
2. Try to type something in Android

**Expected behavior**
Sta

[2021-10-22 13:57] haggalin opened #238 "User group feed and instantiating feeds with feed tokens"
Hi

Reading the documentation here:

https://getstream.io/activity-feeds/docs/node/adding_activities/?language=javascript

You can instantiate the feed with a server-side generated feed token. But I can't seem to find a way to use that type token in this package.

Our use case is to have groups of users which could read and write to the group's feed (identified with the team ID), and it seemed lik

[2021-11-09 07:45] MartinCupela commented on #238
Hi @haggalin can we close this issue?

[2021-11-09 09:39] haggalin commented on #238
Hi yes, I've been chatting with support about this as well and it seems that the use of scoped tokens is not recommended.

Our use case was to have user group feeds which were private for the group members. So for anyone who stumbles on this issue then the recommendation from Stream is described [here](https://getstream.zendesk.com/hc/en-us/articles/1500006211181-How-to-set-up-private-Feed-Groups-

[2021-11-09 09:39] #238 closed

[2021-12-08 17:13] voortexx opened #240 "doFeedRequest with offset"
**Setup (always fill this in):**

- iOS or Android? **Both**
- Expo or regular React Native? **Regular**
- React Native Version:  `0.64.2`
- `react-native-activity-feed`: 0.8.22
- `getstream`: 4.5.4

**Describe the bug**
Currently we use the `FlatFeed` with the `ListEmptyComponent` props to display a fallback image when we have no messages.

We would like to be able to distinguish the loading stat

[2021-12-31 06:12] sidjai09 opened #243 "Error: Couldn't find a navigation context. Have you wrapped your app with 'NavigationContainer'?"
- iOS or Android? => **`Both`**
- Expo or regular React Native? => **`Expo`**
- React Native Version => **`0.64.3`**
- `expo-activity-feed`  Version => **`1.1.1`**
- `getstream` Version =>**`7.2.11`**
- `@react-navigation/native`  Version => **`6.0.6`**
- `@react-navigation/native-stack`  Version => **`6.2.5`**

**Describe the bug**
Currently, we are using <NavigationContainer> with StackNavigator

[2022-01-03 09:37] rushabhOrdex opened #244 "<FlatFeed /> is not working in the <NavigationContainer> due to Expo and @react-navigation/native-stack version issue."
- iOS or Android? => **`Both`**
- Expo or regular React Native? => **`Expo`**
- React Native Version => **`0.64.3`**
- `expo-activity-feed`  Version => **`1.1.1`**
- `getstream` Version =>**`7.2.11`**
- `@react-navigation/native`  Version => **`6.0.6`**
- `@react-navigation/native-stack`  Version => **`6.2.5`**

**Describe the bug**
Currently, we are using <NavigationContainer> with StackNavigator

[2022-01-05 16:27] zhani-tegeria commented on #244
bump

[2022-01-06 04:27] afestein commented on #243
I also found this issue after upgrading from 1.1.0 to 1.1.1, downgrading resolved it.

[2022-01-11 11:09] zhani-tegeria commented on #243
Found any solutions?

[2022-01-12 04:02] Ppang0405 opened #245 "Error: Unable to resolve module ActivityIndicator"
**Setup (always fill this in):**

- iOS or Android? Both
- Expo or regular React Native? regular React Native
- React Native Version: 0.66.4
- `react-native-activity-feed` or `expo-activity-feed` version: react-native-activity-feed 1.1.0
- `getstream` version: 7.2.11

**Describe the bug**
error: Error: Unable to resolve module ActivityIndicator from .../node_modules/react-native-activity-feed/node

[2022-01-13 11:50] jw-85 commented on #243
I also have the issue on a new RN project (not using Expo) when installing react-native-activity-feed@latest, downgraded to 1.1.0 as mentioned above and navigation error no longer present.

[2022-01-14 08:48] royscheepens commented on #193
@vishalnarkhede is TS support for this library currently being worked on? Or is it still on the roadmap? Would love to hear any updates on this. Thanks!

[2022-01-15 01:04] sicsol commented on #244
downgrading to version 1.1.0 works on Expo 44 make sure your package.json isn't including 1.1.1 also remove the ^ if it's there to force it to use the 1.1.0 version

[2022-01-20 00:11] likeaj6 opened #252 "FlatFeed not compatible with react-redux"
**Setup (always fill this in):**

- iOS or Android? iOS
- Expo or regular React Native? Regular React Native
- React Native Version: 0.64.0
- `react-native-activity-feed` or `expo-activity-feed` version: 1.1.1
- `getstream` version: "getstream": 7.4.1

**Describe the bug**
A clear and concise description of what the bug is.

Cannot render FlatFeed in a component wrapped with a react-redux Provider

[2022-02-24 21:58] gitteraz opened #264 "Please upgrade Expo SDK Version in dependencies"
**Setup (always fill this in):**

- iOS or Android?
Both
- Expo or regular React Native?
Expo
- React Native Version:
- `expo-activity-feed` version: `1.1.1

**Describe the bug**
It's not currently possible to instal Expo Activity Feed while using expo SDK >= 42 anymore because SDK 29 was dropped by expo.

**To Reproduce**
Steps to reproduce the behavior: expo install expo-activity-feed while usin

[2022-02-24 23:40] raquelmsmith opened #265 "When token changes, component does not re-render"
**Setup (always fill this in):**

- iOS or Android?
  - Both
- Expo or regular React Native?
  - Regular
- React Native Version: 0.64.1
- `react-native-activity-feed` version: 1.1.0

**Describe the bug**
I have users logging in/out. When the token changes when someone logs in (due to different user identifier), I get an error:
```[Error: {"detail":"You do not have permission to do this, you got th

[2022-03-10 08:57] robbeman commented on #193
To at least not get typescript errors you can add `react-native-activity-feed.d.ts` to your project, it's something.

[code]

[2022-03-20 12:13] animmore commented on #48
@AlexisJamin Have you fixed it?

[2022-04-13 13:38] odifort opened #281 "TypeError: undefined is not an object (evaluating 'activities.getIn(path).toJS')"
- iOS or Android?
Both
- Expo or regular React Native?
Native
- React Native Version:
- `react-native-activity-feed` or `expo-activity-feed` version:
react-native-activity-feed 1.1.1
- `getstream` version:
7.2.1
**Describe the bug**

When press repost an activity everything is ok, but if you press it other times then my app gives this error and my Feed does not update. It is my function that toggl

[2022-06-03 02:37] haresh12 opened #286 "Activity Content Add Read More and Read Less functionality : (Causing refresh issue)"
**Setup (always fill this in):**

- iOS or Android : both
- Expo or regular React Native : Expo
- React Native Version: 0.64.3
- expo-activity-feed
- "expo-activity-feed": "1.1.0",

**Describe the bug**
 In flatfeed component for Activity => Content when we are trying to add read more and read less functionality no first issue is that Flatfeed in not getting refreshed after any state changes now s

[2022-08-16 15:42] danjayrose opened #295 "Uncaught Error: ViewPropTypes has been removed from React Native"
- iOS or Android? Both
- Expo or regular React Native? React Native
- React Native Version: 0.69.4
- react-native-activity-feed@1.1.1
- getstream@7.2.11

**Describe the bug**
When installing with the latest React Native version this package causes an uncaught error as it uses ViewPropTypes which have been deprecated by React Native.

**To Reproduce**
Steps to reproduce the behavior:

1. Create new

[2022-08-20 02:35] TianrenWang commented on #295
LOL was expecting to find this question at the top of the issue. If they fix this, great, but I don't expect them to do that any time soon, maybe ever.

[2022-08-26 22:59] danjayrose commented on #295
Yes I also thought the same as it seems that this isn't maintained anymore. To resolve the issue for my project I use patch-package to resolve the problem that seems to originate from react-native-keyboard-spacer.

[2022-08-27 01:42] TianrenWang commented on #295
@danjayrose By any chance, can I get a copy of that patch-package?

[2022-09-07 09:07] danjayrose commented on #295
Sorry for the late reply, I've been on holiday. I've attached the patch file, just rename the file extension from .txt to .patch and put it in your patches folder

[react-native-keyboard-spacer+0.4.1.txt](https://github.com/GetStream/react-native-activity-feed/files/9504530/react-native-keyboard-spacer%2B0.4.1.txt)

[2022-09-21 20:23] calebpanza commented on #244
Any movement on this? Has anyone identified the issue enough to where the community could patch this? Seems kinda silly to have to downgrade the version in order to get this to work considering that the main functionality of the package is to integrate with Stream's API. We handle our own Navigation on our end....

[2022-09-23 03:08] cody-t-minus commented on #244
I'm not sure if anybody is working on this, but over here we decided to eject from Expo, build our own components to display the list of activities, and handle getting feeds/activities with a custom web Api.
Maybe this will be handled in a future version of GetStream? 🤷

[2022-09-23 13:25] calebpanza commented on #244
Yeah we're actually not using Expo, we're on React Native directly and still running into this issue. We would prefer to not write custom front-end API's for the actual fetching of the activities so that we can put more of our focus and attention on the Activities themselves.

[2022-10-03 17:57] punksta commented on #244
getting this issue on ` "expo": "^45.0.0" and    "expo-activity-feed": "^1.1.1",`

[2022-10-13 10:34] badalkhatri0924 commented on #181
@vishalnarkhede I am also facing the same issue.

We are using the following versions

"react": "16.13.1",
"react-native": "0.63.4",

Attaching the whole package.json as a gist

https://gist.github.com/badalkhatri0924/153f363b571605e0f07f8928254cbd7c

<img width="1057" alt="image" src="https://user-images.githubusercontent.com/81486442/195574114-cd6b9b03-0e62-4d7a-95ca-23a8a24ab2ed.png">

[2022-10-30 12:05] medic345 commented on #243
Been having this issue... I currently have 1.1.1.... What is the best way to downgrade? I tried to do it the standard way through yarn but I'm getting an unspecified exit code.

[2022-11-02 09:52] tlester commented on #2
I'm getting the same issue.  We use auth0 for authentication and they apply a "auth0|" at the top of their id's.  So, I'm getting this error:

Error: Invalid userId, please use letters, numbers, - or _: auth0|60b843b8a6427

How can I resolve this issue?

[2022-11-02 10:00] SMJ93 commented on #2
@tlester I would open a separate issue - this thread is over 4 years old

[2022-11-12 18:13] tlester commented on #281
Did you figure this out?  I just encouraged it myself.